<script type="text/template"
    data-route="^verify\/(.*)"
    data-source="$endhost/invite/info/$1"
    data-process="processVerifyPage"
    data-title="Verify"
    data-template="verify-page"
    >
    <div class="container">
        {{#data}}
            <h1>Complete Signup</h1>
            {{#unless isSignedIn}}
                <form onsubmit="submitVerifyInvite(event, this)" class="col-xs-12 col-md-6 panel">
                    <input type="hidden" name="code" value="{{code}}" />
                    <table class="form signup-verify">
                        <tbody>
                            <tr>
                                <th>Real Name</th>
                                <td>
                                    <input type="text"
                                           name="realName"
                                           placeholder=""
                                           value="" />
                                </td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td>
                                    {{>password-field}}
                                </td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>
                                    {{>location-autocomplete}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button button--cta">Submit</button>
                </form>
            {{else}}
            <p>You are already signed in.</p>
            {{/unless}}
        {{/data}}
    </div>
</script>

<script type="text/template"
        data-route="^(signin|sign-in)"
        data-process="processSignInPage"
        data-title="Sign In"
        data-template="sign-in-page"
        >
    <div class="container">
        {{#unless continueTo}}
            <h1>Sign In</h1>
        {{else}}
            <div class="panel">
                <h1>Sign In to Continue</h1>
                <p>Sign in or create an account to continue {{>continueTo}}.</p>
            </div>
        {{/unless}}
        <div class="flex sign-split">
            <form onsubmit="submitSignIn(event, this)" class="col-xs-12 col-md-6 panel">
                <h2>With Email</h2>
                {{>sign-in-fields}}
                <div class="button-group button-group--margin">
                    <button class="button--cta button--full">Sign In</button>
                </div>
                <a href="/forgot-password">Forgot your password?</a>
                <br/>
                <a href="/sign-up{{signOnQueryString}}">Don't have an account? Sign up!</a>
            </form>
            <div class="col-xs-12 col-md-6 panel">
                <h2>With Social</h2>
                <div class="button-group button-group--margin">
                    <button class="button--social button--half button--fb" onclick="clickSignInFacebook(event, this)"><i class="fa fa-social-f"></i> Sign In</button>
                    <button class="button--social button--half button--g" onclick="clickSignInGoogle(event, this)"><i class="fa fa-social-g"></i> Sign In</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template"
        data-partial
        data-template="birthday-fields"
        >
<select name="birthday_month" class="birthday-month" value="{{birthday_month}}">
    <option value="01">Jan</option>
    <option value="02">Feb</option>
    <option value="03">Mar</option>
    <option value="04">Apr</option>
    <option value="05">May</option>
    <option value="06">Jun</option>
    <option value="07">Jul</option>
    <option value="08">Aug</option>
    <option value="09">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
</select>
<select name="birthday_day" class="birthday-day" value="{{birthday_day}}">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>
<input type="text" class="birthday-year" name="birthday_year" placeholder="YYYY" value="{{birthday_year}}" size="4" />
</script>

<script type="text/template"
        data-partial
        data-template="sign-in-fields"
        >
<table class="form mobile">
    <tbody>
        <tr>
            <th>Email</th>
            <td>
                <input
                    type="text"
                    name="email"
                    placeholder="kitty@monstercat.com"/>
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                {{>password-field}}
            </td>
        </tr>
    </tbody>
</table>
</script>

<script type="text/template"
        data-route="authenticate-token"
        data-title="Sign In 2 Factor">
    <div class="container">
        <h1>Authenticate Token</h1>
        <div class="panel">
            <form onsubmit="authenticateTwoFactorToken(event, this)">
                <table class="form mobile">
                    <tr>
                        <th>Token</th>
                        <td>
                            <input type="text" name="token" placeholder="Enter Here"/>
                        </td>
                    </tr>
                </table>
                <div class="button-group">
                    <button class="button--cta button--full">Authorize</button>
                    <button class="button--full" type="button" onclick="resendTwoFactorToken(event, this)">Resend Token</button>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/template"
        data-route="^forgot-password"
        data-title="Forgot Password?"
        >
    <div class="container">
        <h1>Forgot Password?</h1>
        <div class="panel">
            <form onsubmit="recoverPassword(event, this)">
                <table class="form mobile">
                    <tbody>
                        <tr>
                            <th>Email</th>
                            <td>
                                <input
                                    type="text"
                                    name="email"
                                    placeholder="kitty@monstercat.com"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-group">
                    <button class="button--cta button--full">Send Reset Link</button>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/template"
        data-route="^reset-password"
        data-title="Reset Password"
        data-process="processPasswordResetPage"
        data-template="reset-password-page"
        >
    {{#data}}
    <div class="container">
        <h1>Reset Password</h1>
        <div class="panel">
            {{#if missingKey}}
                <p>No key provided.</p>
            {{else}}
            <form onsubmit="updatePassword(event, this)">
                <input type="hidden" name="code" value="{{key}}" />
                <table class="form mobile">
                    <tbody>
                        <tr>
                            <th>Password</th>
                            <td>
                                {{>password-field}}
                            </td>
                        </tr>
                        <tr>
                            <th>Confirm</th>
                            <td>
                                <input
                                    type="password"
                                    name="confirmPassword"
                                    placeholder="Confirm Password"/>
                                <button
                                    class="faux password"
                                    type="button"
                                    onclick="togglePassword(event, this)"
                                    toggle-target="confirmPassword">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-group">
                    <button
                        class="button--cta button-full">
                        Update Password
                    </button>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
    {{/data}}
</script>

<script type="text/template"
        data-route="^confirm-sign-up"
        data-title="Confirm Sign Up"
        data-template="confirm-sign-up"
        data-process="processConfirmSignUp"
        >
    <div class="container">
        <h1>Confirm Sign Up</h1>
        <div class="panel">
        {{#data}}
        <form onsubmit="signUpSocial(event, this)">
            <table class="form mobile">
                {{>signup-fields}}
                <input type="hidden" name="token" value="{{token}}"/>
                <input type="hidden" name="submitWhere" value="{{submitWhere}}"/>
                <input type="hidden" name="name" value="{{name}}"/>
                <input type="hidden" name="redirectTo" value="{{redirect}}"/>
            </table>
            <div class="button-group">
                <button class="button--cta button--full">Sign Up</button>
            </div>
        </form>
        {{/data}}
        {{^data}}
        <p>Nothing here.</p>
        {{/data}}
        </div>
    </div>
</script>

<script type="text/template"
        data-route="^sign-up"
        data-title="Sign Up"
        data-process="processSignUpPage"
        data-template="sign-up-page"
        >
    <div class="container">
        {{#unless continueTo}}
            <h1>Sign Up</h1>
        {{else}}
            <div class="panel">
                <h1>Sign Up to Continue</h1>
                <p>Create an account or sign in to continue {{>continueTo}}.</p>
            </div>
        {{/unless}}
        <div class="flex sign-split">
            <div class="col-xs-12 col-md-6 panel">
                <h2>With Email</h2>
                <form onsubmit="submitSignUp(event, this)">
                    <table class="form mobile">
                        {{>signup-fields}}
                    </table>
                    <div class="button-group">
                        <button class="button--cta button--full">Sign Up</button>
                        or <a href="/signin{{signOnQueryString}}">sign in</a>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-6 panel">
                <h2>With Social</h2>
                <div class="button-group">
                    <button class="button--social button--half button--fb" onclick="clickSignUpFacebook(event)"><i class="fa fa-social-f"></i> Sign Up</button>
                    <button class="button--social button--half button--g" onclick="clickSignUpGoogle(event)"><i class="fa fa-social-g"></i> Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template"
        data-template="account-email-page"
        data-process="processAccountEmailPage"
        data-source="$endpoint/self"
        data-title="My Email Settings"
        data-route="^account\/email"
        >
    <div class="container" id="account-email-settings">
        {{>account-return-link}}
        <h1>Email Settings</h1>
        <div class="flex sign-split">
            {{#if loading}}
                {{>loading-view}}
            {{else}}
                {{#data}}
                <div class="col-xs-12 col-md-6 panel p-0">
                    <iframe frameborder="0" src="https://monstercat.us14.list-manage.com/subscribe?u=558f2b6bdecccf5cf42ccc7f7&id=1ef227c776&{{mailchimpSrcStr}}" height="900" width="100%"></iframe>
                </div>
                <div class="col-xs-12 col-md-6 panel p-0">
                    <iframe frameborder="0" src="https://monstercat.us14.list-manage.com/subscribe?u=558f2b6bdecccf5cf42ccc7f7&id=679537b88c&{{mailchimpSrcStr}}" height="900" width="100%"></iframe>
                </div>
                {{/data}}
            {{/if}}
        </div>
    </div>
</script>

<script type="text/html"
        data-route="^account\/gold\/?"
        data-title="My Gold Features"
        data-process="processAccountGoldPage"
        data-template="account-gold-page"
        >
    <div id="account-gold">
        {{#if loading}}
            {{>loading-view}}
        {{/if}}
        {{#if err}}
            {{>error}}
        {{/if}}
        {{#data}}
            <div class="top-banner top-banner--no-margin top-banner--account-gold">
                <div class="banner">
                    <div class="banner" style="background-image:url('/img/gold.jpg');">
                      <div class="banner-shade"></div>
                      <div class="gradient"></div>
                    </div>
                </div>
                <div class="container flex">
                    <div class="col-xs-12 col-sm-12 col-md-12 cl-white">
                        {{#if isSignedIn}}
                            <a href="/account/services" class="button button--cta pull-right ml-1 mt-4">Manage Subscription</a>
                            {{>account-return-link class="mt-4"}}
                            <img src="/img/gold-logo-250.png" width="200px" class="mb-2" alt="Monstercat Gold">
                            <h1 class="title uppercase">My Gold Features</h1>
                            {{#if hasGoldAccess}}
                                <p>Hey {{displayName}},
                                    {{#if hasFreeGold}}
                                        you have a free Gold subscription. <i class="fa {{emoji}}"></i>
                                    {{else}}
                                        {{#if belowOne}}
                                            you have a Gold membership. {{thankYou}} <i class="fa {{emoji}}"></i>
                                        {{else}}
                                            you've been Gold for {{gold.usedMonths}} month<span class="s" num="{{gold.usedMonths}}"></span>. {{thankYou}}  <i class="fa {{emoji}}"></i>
                                        {{/if}}
                                    {{/if}}</p>
                            {{else}}
                                <p>Hey {{displayName}}, to use these features you'll need to <a href="/gold/buy" data-redirect-url="auto">get Gold</a>.</p>
                            {{/if}}
                        {{else}}
                            <h1>Gold Features</h1>
                            <p>You aren't logged in. <a href="/sign-in">Sign in</a>.</p>
                            <p>Gold is a monthly subscription for supporting the artists, downloading music, early streaming, and more.</p>
                        {{/if}}

                        {{^hasGoldAccess}}
                            <br /><a href="/gold/buy" data-redirect-url="auto" class="button button--mcatgold button--icon">Get Gold  <i class="fa fa-chevron-right"></i></a>
                            {{^isSignedIn}}
                                <span class="or">or</span>
                                <a href="/sign-in?redirect=%2Faccount%2Fgold" class="button button--cta-outline">Sign In</a>
                            {{/isSignedIn}}
                        {{/hasGoldAccess}}

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="flex flex-pt sign-split">
                    <div class="panel rewards col-md-6 col-sm-12 col-xs-12">
                        <h2>Shop Discounts</h2>
                        <p>Each month you have Gold you get a new shop discount code. Stay subscribed for bigger discounts.</p>
                        <table class="mt-2 col-md-8 col-xs-12 table-striped">
                          <tr>
                            <th>Subscribe For</th>
                            <th>Discount</th>
                          </tr>
                          <tr>
                            <td>1+ months</td>
                            <td>10% off</td>
                          </tr>
                          <tr>
                            <td>1+ years</td>
                            <td>15% off</td>
                          </tr>
                          <tr>
                            <td>2+ years</td>
                            <td>20% off</td>
                          </tr>
                        </table>
                        {{#if hasGoldAccess}}
                          {{#currentCode}}
                            <h3 class="mt-2 mb-1">Current Code <span class="discount">({{discountText}})</span></h3>
                              <p class="code-description">  
                                  <input class="code" size="32" type="text" value="{{code}}" role="clipboard" />{{>copy-clipboard-button}}
                                  <a href="https://shop.monstercat.com/?utm_source=gold&utm_campaign=shop_discount" class="button button--cta button--shop" target="_blank">
                                  Go to Shop
                                  <i class="fa fa-external-link"></i>
                              </a>
                                  <br /><small>{{#expires}}
                                  Single use and expires on {{../expiresFormatted}}.
                                  {{/expires}}
                                  {{^expires}}
                                      Single use and does not expire.
                                  {{/expires}}
                                  Next code in <span role="countdown" to="{{../nextCodeDate}}" day-label=" day/ days" show-days="1" show-hours="0" show-minutes="0" show-seconds="0"></span>.</small>
                              </p>
                          {{/currentCode}}
                          {{else}}
                            <p class="mb-2">Hop on the Gold train to snag your code.</p>
                            {{>get-gold-cta}}
                        {{/if}}
                    </div>
                    <div class="col-xs-12 col-md-6 panel paragraphs">
                        <h2>Content Creator Licenses</h2>
                        <p>Your Gold subscription lets you add licenses to use our music for your YouTube, Twitch, and Mixer channels.</p>
                        <h3 class="mt-2 mb-2">Your Licenses</h3>

                        <table data-source="$endpoint/self/whitelist" data-process="processLicensesTable" id="licenses-preview" class="mb-4">
                        </table>
                        {{#if hasGoldAccess}}
                        <a href="/account/licenses" class="button button--cta">Manage Licenses</a> <a href="/licensing/content-creators" class="button button--black">Learn More</a>
                        {{else}}                        
                            {{>get-gold-cta}}
                        {{/if}}
                    </div>

                </div>
                <div class="flex sign-split mt-0">
                    <div class="col-xs-12 col-md-6 panel paragraphs" id="reddit">
                        <h2>/r/Monstercat Flair</h2>
                            <p>Put in your reddit username to get an exclusive <strong>Monstercat Gold</strong> flair on the <a href="https://www.reddit.com/r/monstercat">Monstercat Subreddit</a>.</p>

                            {{#if hasGoldAccess}}
                                {{#self}}
                                <form onsubmit="submitSaveRedditUsername(event, this)">
                                    <table class="form mobile" data-set="reddit-flair" trigger-target="saveRedditUsername">
                                        <tbody>
                                            <tr>
                                                <th>reddit username</th>
                                                <td><input type="text" name="redditUsername" placeholder="Username" value="{{redditUsername}}" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="button-group">
                                        {{>submit-button text="Save" class=" "}}
                                    </div>
                                </form>
                                {{/self}}
                            {{else}}
                                {{>get-gold-cta}}
                            {{/if}}
                    </div>
                    <div class="col-xs-12 col-md-6 panel  paragraphs">
                        <h2>Gold-only Discord Chat</h2>
                        <p>Join us on our <a href="https://discord.gg/monstercat">Discord server</a> in the exclusive Gold members only chat. Please join the server before using the form below.</p>

                        {{#if hasGoldAccess}}
                            {{>join-gold-discord}}
                        {{else}}
                            {{>get-gold-cta}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/data}}
    </div>
</script>


<script type="text/template"
        data-route="^(account\/?$|account\/?\?(.*)$)"
        data-source="$endpoint/self"
        data-title="My Account"
        data-process="processAccountPage"
        data-template="account-page"
        >
    <div class="container">
        {{#data}}
            {{#if hasGoldAccess}}
                <a href="/account/gold" class="button button--mcatgold-dark pull-right button--icon">
                    My Gold Features
                    <i class="fa fa-chevron-right"></i>
                </a>
            {{else}}
                <a href="/gold/buy" data-redirect-url="auto" class="button button--mcatgold-dark pull-right">Upgrade to Gold</a>
            {{/if}}
        {{/data}}
        <h1>My Account</h1>
        <div class="flex sign-split">
            <div class="col-xs-12 col-md-6 panel">
                <h2>Account</h2>
                {{#error}}
                    <p>{{message}}</p>
                    <p><a href="/signin?redirect=account">Sign in</a> to view this page.</a></p>
                {{/error}}
                {{#data}}
                <form onsubmit="submitSaveAccount(event)">
                    <table class="form mobile">
                        <tbody data-set="account">
                            <tr>
                                <th>Email</th>
                                <td>{{account.email}}</td>
                            </tr>
                            <tr>
                                <th>Display Name</th>
                                <td><input type="text"
                                           name="name"
                                           value="{{account.name}}"
                                           placeholder="Nickname"
                                           data-set-target="account"
                                           initial-value="{{name}}" />
                                </td>
                            </tr>
                            <tr>
                                <th>Full Name</th>
                                <td><input type="text"
                                           name="realName"
                                           value="{{account.realName}}"
                                           placeholder="Jon GQ Winter"
                                           data-set-target="account"
                                           initial-value="{{realName}}" />
                                </td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>
                                    {{#account}}
                                        {{>location-autocomplete}}
                                    {{/account}}
                                    {{#if locationLegacy}}
                                        <p>Your country is currently <strong>{{account.location}}</strong>. Add your city above.</p>
                                    {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <th>Birthday</th>
                                <td>
                                    {{>birthday-fields}}
                                </td>
                            </tr>
                            <!---
                            <tr>
                                <th valign="top">Email me about</th>
                                <td>
                                    {{>account-email-optins}}
                                </td>
                            </tr>
                            -->
                            <tr>
                                <th>Change Password</th>
                                <td>
                                    {{>password-field}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-group button-group--margin">
                        <button class="button--cta button--full">
                            Save
                        </button>
                        <button class="button--danger button--full" type="button" onclick="signOut(event)">Sign Out</button>
                    </div>
                </form>
                <hr class="mt-4 mb-4" />

                <div>
                    <h2>Email Settings</h2>
                    <a href="/account/email" class="button button--cta button--full">Edit Email Subscriptions</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 panel">
                <div id="settings">
                    <h2>Settings</h2>
                    <div data-source="$endpoint/self/settings"
                         data-process="processAccountSettings">
                    </div>
                </div>
                <hr class="mt-4 mb-4" />
                <div id="two-factor">
                    <h2>Two-Factor Auth</h2>
                    {{#twoFactor}}
                    <p>Two-factor auth is currently <strong>enabled</strong>.</p>
                    <br />
                    <button onclick="disableTwoFactor(event, this)" type="button">Disable</button>
                    {{/twoFactor}}
                    {{#enableTwoFactor}}
                    <form onsubmit="enableTwoFactor(event, this)">
                        <table class="form mobile">
                            <tbody>
                                <tr>
                                    <th>Country Code</th>
                                    <td>
                                        <select name="countryCode">
                                            <option value="" selected>Select</option>
                                            {{#countries}}
                                            <option value="{{dial_code}}">{{name}} ({{dial_code}})</option>
                                            {{/countries}}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td>
                                        <input type="text" name="number" placeholder="Phone Number"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="button-group">
                            <button class="button--full" type="button">Enable</button>
                        </div>
                    </form>
                    {{/enableTwoFactor}}
                    {{#confirmingTwoFactor}}
                    <p>Enter the token to confirm your phone number and complete your two factor setup.</p>
                    <form onsubmit="confirmTwoFactor(event, this)">
                        <table class="form mobile" data-set="confirm-auth-token">
                            <tr>
                                <th>Token</th>
                                <td>
                                    <input type="text" name="token" placeholder="Enter Here"/>
                                </td>
                            </tr>
                        </table>
                        <div class="button-group">
                            <button class="button--cta button--full">Confirm Two Factor</button>
                            <button class="button--full" type="button" onclick="resendTwoFactorToken(event, this)">Resend Token</button>
                            <button class="button--full" type="button" onclick="disableTwoFactor(event, this)">Cancel</button>
                        </div>
                    </form>
                    {{/confirmingTwoFactor}}
                </div>
                {{/data}}
                </div>
            </div>
        </div>
</script>

<script type="text/html"
        data-template="account-settings"
        data-process="processAccountSettings">
    {{#data}}
    <form onsubmit="submitSaveAccountSettings(event, this)">
        <table class="form mobile">
            <tbody data-set="settings">
                <tr id="preferred-download">
                    <th>Preferred Download Format</th>
                    <td>
                        <select name="preferredDownloadFormat"
                                initial-value="{{settings.preferredDownloadFormat}}">
                            {{#each downloadOptions}}
                            <option value="{{value}}"
                                    {{#if selected}}selected{{/if}}>
                                {{name}}
                            </option>
                            {{/each}}
                        </select>
                        <span class="note">
                        See more about MP3 quality
                        <a href="http://wiki.hydrogenaud.io/index.php?title=LAME#Recommended_encoder_settings"
                           target="_blank">here</a>.
                        </span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <label>
                            <input type="checkbox"
                                   name="hideNonLicensableTracks"
                                   initial-value="{{settingshideNonLicensableTracks}}"
                                   {{#if settings.hideNonLicensableTracks}}checked{{/if}}/>
                            Skip Non-licensable Tracks
                        </label>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <label>
                            <input type="checkbox"
                                   name="blockNonLicensableTracks"
                                   initial-value="{{settings.blockNonLicensableTracks}}"
                                {{#if settings.blockNonLicensableTracks}}checked{{/if}}/>
                            Block Non-licensable Tracks
                        </label>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <label>
                            <input type="checkbox"
                                   name="playlistPublicByDefault"
                                   initial-value="{{settings.playlistPublicByDefault}}"
                                   {{#if settings.playlistPublicByDefault}}checked{{/if}}/>
                            Make Playlists Public By Default
                        </label>
                    </th>
                </tr>
            </tbody>
        </table>
        <div data-source="$endpoint/self/social-signins"
             data-process="processSocialSettings">
        </div>
        <div class="button-group">
            {{>submit-button text="Update Settings"}}
        </div>
    </form>
    {{/data}}
</script>


<script type="text/template"
        data-partial
        data-template="get-gold-cta"
>
<a href="/gold/buy" data-redirect-url="auto" class="button button--cta button--mcatgold-dark">Get Gold</a>
</script>

<script type="text/template"
        data-partial
        data-template="password-field"
>
<input type="password"
       name="password"
       placeholder="a secret"/>
<button
    class="faux password"
    onclick="togglePassword(event, this)"
    tabindex="999"
    type="button"
    toggle-target="password">
    <i class="fa fa-eye-slash"></i>
</button>
</script>

<script type="text/template"
        data-partial
        data-template="signup-fields">
    <tbody>
        <tr>
            <th>Email</th>
            <td>
                <input type="text"
                       name="email"
                       placeholder="kitty@monstercat.com"
                       value="{{email}}" />
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                {{>password-field}}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {{>location-autocomplete}}
            </td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>
                {{>birthday-fields}}
            </td>
        </tr>
        <!--
        <tr>
            <th valign="top">Email me about</th>
            <td>
                {{>account-email-optin-news}}
                {{>account-email-optin-events}}
                {{>account-email-optin-merch}}
            </td>
        </tr>
        -->
    </tbody>
</script>

<script type="text/template"
        data-partial data-template="account-email-optins">
    <div class="checkbox email-optin-checkbox">
        <label>
            <input type="checkbox" checked disabled />
            Important service updates
        </label>
    </div>
    {{>account-email-optin-news}}
    {{>account-email-optin-events}}
    {{>account-email-optin-merch}}
</script>

<script type="text/template"
        data-partial data-template="account-email-optin-news">
<div class="checkbox email-optin-checkbox">
    <label>
        <input type="checkbox" name="emailOptIns[news]"{{#emailOptIns.news}} checked="checked"{{/emailOptIns.news}} value="1" />
        Monstercat News
    </label>
</div>
</script>

<script type="text/template"
        data-partial data-template="account-email-optin-merch">
<div class="checkbox email-optin-checkbox">
    <label>
        <input type="checkbox" name="emailOptIns[merch]"{{#emailOptIns.merch}} checked="checked"{{/emailOptIns.merch}} value="1" />
        Shop Discounts &amp; Promotions
    </label>
</div>
</script>

<script type="text/template"
        data-partial data-template="account-email-optin-events">
<div class="checkbox email-optin-checkbox">
    <label>
        <input type="checkbox" name="emailOptIns[events]"{{#emailOptIns.events}} checked="checked"{{/emailOptIns.events}} value="1" />
        Official Monstercat Events
    </label>
</div>
</script>

<script type="text/template"
        data-template="social-settings"
        data-process="processSocialSettings">
    {{#data}}
        <div class="button-group">
        {{#facebookEnabled}}
        <button class="button--social button--half button--fb" onclick="unlinkFacebook(event, this)" type="button">
            <i class="fa fa-social-f"></i> Unlink Account
        </button>
        {{/facebookEnabled}}
        {{^facebookEnabled}}
        <button class="button--social button--half button--fb" onclick="enableFacebookSignin(event, this)" type="button">
            <i class="fa fa-social-f"></i> Link Account
        </button>
        {{/facebookEnabled}}

        {{#googleEnabled}}
        <button class="button--social button--half button--g" onclick="unlinkGoogle(event, this)" type="button">
            <i class="fa fa-social-g"></i> Unlink Account
        </button>
        {{/googleEnabled}}
        {{^googleEnabled}}
        <button class="button--social button--half button--g" onclick="enableGoogleSignin(event, this)" type="button">
            <i class="fa fa-social-g"></i> Link Account
        </button>
        {{/googleEnabled}}
    </div>
    {{/data}}
</script>

<script type="text/template"
        data-partial
        data-template="join-gold-discord">
{{#if hasGoldAccess}}
<form onsubmit="submitJoinDiscord(event, this)" role="join-discord">
    <div>
        <table class="form mobile">
            <tbody>
                <tr>
                    <th>Discord Username &amp; Identifier</th>
                    <td><input type="text" placeholder="Example#0000" name="discordId"/></td>
                </tr>
            </tbody>
        </table>
        <div class="button-group">
            {{>submit-button text="Join Gold Channel" class="action-toggle"}}
        </div>
      <div role="response"></div>
    </div>
{{/if}}
</script>

<script type="text/template" data-template="account-return-link" data-partial>
<a href="/account" class="button button--cta pull-right button--icon button--icon-left {{class}}">
    <i class="fa fa-chevron-left"></i>
    My Account
</a>
</script>

<script type="text/template" data-template="joinDiscordResponse">
{{#data}}
<p class="success-box">
Success please join the following channels with the links below:<br/><br/>
{{#goldJoinUrl}}
<strong>Gold Channel:</strong> <a href="{{.}}">{{.}}</a>
{{/goldJoinUrl}}
{{#licenseeJoinUrl}}
<br/>
<strong>Licensee Channel:</strong> <a href="{{.}}">{{.}}</a>.</p>
{{/licenseeJoinUrl}}
{{/data}}
</script>

<script type="text/template"
        data-partial data-template="required"><span class="required">*</span></script>

<script type="text/template"
        data-partial data-template="continueTo">{{#continueTo}}{{#buying}}{{#vendor}}
            a <strong>{{vendor}}</strong> license for <strong>{{identity}}</strong>{{/vendor}}{{#gold}}a <strong><a href="/gold">Gold subscription</a></strong>{{/gold}}{{/buying}}{{#if msg}}{{{msg}}}{{/if}}{{/continueTo}}</script>
