<script type="text/template"
        data-route="^(?:news|blog)\/(article|[\d+\-]+|posts|preview)\/([^\/\?]*)\/?"
        data-title="Article"
        data-process="processBlogPostPage"
        data-template="blog-post-page"
        >
    {{#if error}}
    <div class="container panel">
        <p>Article not found.</p>
        {{#error}}
            <div class="errors-container">
                {{message}}
            </div>
        {{/error}}
    </div>
    {{/if}}
    {{#data}}
    <div class="top-banner top-banner--blog">
        <div class="banner">
            <div class="banner" style="background-image:url({{image}})"></div>
        </div>
    </div>
    <div class="panel panel--article">
        <header>
            <h1 class="title uppercase">{{title}}</h1>
            <h3 class="subline">{{subline}}</h3>
            <p class="date">{{date}}</p>
            <ul class="blog-tags">
                {{#tags}}
                    <li>
                        <a class="button button--black" href="/blog/tags/{{.}}">{{.}}</a>
                    </li>
                {{/tags}}
            </ul>
            <div class="button-group">
                <a data-href="https://www.facebook.com/sharer/sharer.php?u={{url}}"
                   action = "openShare"
                   data-share="facebook"
                   class="button button--full button--share button--share-facebook"
                   target="_blank">
                    <i class="fa fa-facebook"></i>
                    Share on Facebook
                </a>
                <a data-href="https://twitter.com/intent/tweet?url={{url}}&via=Monstercat"
                   action = "openShare"
                   data-share="twitter"
                   class="button button--full button--share button--share-twitter"
                   target="_blank">
                    <i class="fa fa-twitter"></i>
                    Tweet this
                </a>
            </div>
        </header>
        <div class="md-container blog-md-container">
            <div
                data-process="processMarkdownPost"
                {{#unless ../markdownCors}}data-no-cors{{/unless}}
                data-source="{{../markdownUrl}}">
            </div>
        </div>
    </div>
    {{/data}}
</script>

<script type="text/template" data-template="markdown-post" data-process="processMarkdownPost">
    {{{data}}}
</script>

<script type="text/template"
        data-partial
        data-template="blog-featured">

        <div class="top-banner top-banner--blog-featured">
            <div class="banner">
                <div class="banner"
                style="background-image:url({{image}}?image_width=1024)">
                    <div class="banner-shade"></div>
                    <div class="gradient"></div>
                </div>
            </div>
            <div class="container cl-white text center">
                <h1 class="title uppercase"><a href="{{link}}">{{title}}</a></h1>
                <h3 class="subline">{{subline}}</h3>
                <p class="date">{{date}}</p>
                <ul class="blog-tags">
                    {{#tags}}
                        <li>
                            <a class="button button--black" href="/blog/tags/{{.}}">{{.}}</a>
                        </li>
                    {{/tags}}
                </ul>
                <a class="button button--white button--icon" href="{{link}}" target="_BLANK">
                    Read more
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>

</script>

<script type="text/template"
        data-partial
        data-template="blog-article">
        <article class="flex">
            <div class="col-xs-12 col-sm-12 col-md-6 article-banner{{#isOdd}} col-md-last{{/isOdd}} banner--scaled">
                <a href="{{link}}" class="side-banner"
                style="background-image: url({{image}}?image_width=512);"></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 article-details">
                <div class="article-wrapper">
                    <a class="silent no-hover" href="{{link}}" target="_BLANK">
                        <h2>{{title}}</h2>
                    </a>
                    <p class="date">{{date}}</p>
                    <ul class="blog-tags">
                        {{#tags}}
                            <li>
                                <a class="button button--black" href="/blog/tags/{{.}}">{{.}}</a>
                            </li>
                        {{/tags}}
                    </ul>
                    <p class="description">{{{excerpt}}}</p>
                    <a class="button button--black button--icon" href="{{link}}" target="_BLANK">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </article>
</script>

<script type="text/template"
        data-route="^(?:news|blog)\/?(?:\?.*)?$"
        data-title="Blog"
        data-process="processBlogPagination"
        data-source="$newshost/json/archive/pages/1.json"
        data-template="blog-page-container"
        data-no-cors
        >
    {{#data}}
    <div
        data-process="processBlogPage"
        data-no-cors
        data-source="$newshost/json/archive/pages/{{page}}.json">
    </div>
    {{/data}}
</script>

<script type="text/template"
        data-route="^(?:news|blog)\/tags\/(.*)"
        data-title="Blog"
        data-process="processBlogPagination"
        data-template="blog-page-tag-container"
        data-source="$newshost/json/tags/$1/pages/1.json"
        data-no-cors
        >
    {{#data}}
    <div
        data-process="processBlogPage"
        data-source="$newshost/json/tags/{{tag}}/pages/{{page}}.json"
        data-no-cors
        >
    </div>
    {{/data}}
</script>

<script type="text/template"
        data-process="processBlogPage"
        data-template="blog-page">
    {{#data}}
        {{#each tags}}
            <div class="container tag-header">
                <h1>Posts tagged with "{{.}}"</h1>
            </div>
        {{/each}}

        {{#each results}}
            {{#if featured}}
                {{>blog-featured}}
            {{else}}
                {{>blog-article}}
            {{/if}}
        {{/each}}
        {{#if showPagination}}
            {{>blog-pagination}}
        {{/if}}
    {{/data}}
</script>

<script type="text/template"
        data-partial
        data-template="blog-pagination">
    {{#if total}}
    <div class="container pagination pad-vertical pagination--blog text center">
        {{#if previous}}
            <a href="?{{previous}}" class="button button--cta">Previous</a>
        {{/if}}
        <label>{{showingFrom}} - {{showingTo}} of {{total}}</label>
        {{#if next}}
            <a href="?{{next}}" class="button button--cta">Next</a>
        {{/if}}
    </div>
    {{/if}}
</script>

