<script type="text/html"
        data-route="^release-claim"
        data-title="Remove YouTube Claim"
        data-process="processPage"
        data-template="release-claim-page"
        >
    <div class="container">
        <h1>YouTube Release Claim</h1>
        <div class="panel">
            <p>If you have recieved a claim on your whitelisted YouTube channel you can release it here.
            <br />This only works on <strong>non-private</strong> videos. Unlisted will work.</p>
            <br/>
            <form onsubmit="submitRemoveYouTubeClaim(event, this)">
                <table class="form mobile">
                    <tbody>
                        <tr>
                            <th>YouTube Video</th>
                            <td>
                                <input type="text" name="videoId" placeholder="ID or link"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-group">
                    <button class="button--full actionier">
                        <span class="actionier-off">Release Claims</span>
                        <span class="actionier-on">Submitting...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/html" data-partial data-template="vendor-selector">
    <select name="vendor">
        <option value="">Select One</option>
        <option>YouTube</option>
        <option>Twitch</option>
        <option value="Beam">Mixer</option>
    </select>
</script>
