<script type="text/template"
        data-route="^payment-received"
        data-process="processPaymentReceivedPage"
        data-title="Payment Received"
        data-template="payment-received-page"
        >
        <div class="container">
          <div class="panel">
            <h1>Payment Received</h1>
            <p>Thank you for your payment. Redirecting to <a href="{{url}}">{{label}}</a> in 5s...</p>
          </div>
        </div>
</script>

<script type="text/html"
        data-route="^account\/(services|subscriptions)\/?(\?.*)?$"
        data-process="processSubscriptionsPage"
        data-title="Subscriptions"
        data-template="subscriptions-page"
        >
<div class="subscription-wrapper">
  <div class="top-banner top-banner--no-margin top-banner--account-gold" style="z-index: 9999">
    <div class="banner">
        <div class="banner" style="background-image:url('/img/gold.jpg');">
          <div class="banner-shade"></div>
          <div class="gradient"></div>
        </div>
    </div>
    <div class="container flex">
      <div class="col-xs-12 col-sm-12 col-md-12 cl-white">
      <a href="/account/gold" class="button button--cta pull-right ml-1 mt-4">Gold Features</a>
        {{>account-return-link class="mt-4"}}
        <img src="/img/gold-logo-250.png" width="200px" class="mb-2" alt="Monstercat Gold">
        <h1 class="title uppercase mcatgold">Manage Subscriptions</h1>
        {{#if hasFreeGold}}
          <p>Hey {{sessionName}}, you have a free Gold subscription.</p>
        {{else}}
          {{#unless hasSubscriptions}}
            {{#if hasGoldAccess}}
              <p>No Xsolla subscriptions found. If you had a Stripe subscription it might still be migrating.</p>
            {{else}}
              <p>You have no subscriptions. Subscribe to Monstercat Gold below.</p>
            {{/if}}
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>
  {{#if hasFreeGold}}
  {{else}}
    <div class="container services">
      {{#if legacy}}
        <div class="panel">
          <h2>Legacy Subscription</h2>
          <p class="mb-2">You have a <strong>legacy PayPal subscription</strong>. To manage your subscription you'll need to cancel it then resubscribe using our new payment processor.</p>
          {{>legacy-subscriptions}}
        </div>
      {{else}}
          <div class="panel flex panel-xsolla mt-0">
            <div class="col-xs-12 col-sm-12 col-md-6 sub-wrapper style="width:100%">
              {{>gold-subscribe-features}}
            </div>
          <div class="col-md-6" style="width:100%">
            {{>xsolla-iframe}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
</script>

<script type="text/template"
        data-partial
        data-template="xsolla-iframe">
<div class="xsolla-iframe-container">
  <div class="iframe-loader">
    {{>loading-view}}
  </div>
  {{#if promo}}
    <div class="gold-promo p-2 {{promo.code}}">
      <h4 class="{{#unless promo.isActive}}text-line-through{{/unless}}">
        {{#if promo.title}}
          {{{promo.title}}}
        {{else}}
          Promotion: <code>{{promo.code}}</code>
        {{/if}}
      </h4>
      {{#unless promo.isActive}}
        <p>This promotion is not active.</p>
      {{else}}
        {{#if promo.description}}
          <p>{{{promo.description}}}</p>
        {{/if}}
      {{/unless}}
    </div>
  {{/if}}
  <iframe src="{{xsollaIframeSrc}}" frameborder="0" class="xsolla-iframe"></iframe>
</div>
</script>

<script type="text/html"
        data-partial
        data-template="gold-subscribe-form"
        >
{{#if legacy}}
  <div class="panel">
    <h2>Legacy Subscription</h2>
    <p class="mb-2">You have a <strong>legacy PayPal subscription</strong>. To get Gold you'll need to <strong>cancel then resubscribe</strong>.</p>
    {{>legacy-subscriptions}}
  </div>
{{else}}
  {{#unless hasSubscriptions}}
    {{#if hasGoldAccess}}
    <div class="panel">
      <h2>Existing Subscriber?</h2>
      <p>If you were <strong>previously subscribed through Stripe</strong> your subscription might still be being migrated to our new payment processor.</p>
    </div>
    {{/if}}
  {{/unless}}
  <div class="panel flex panel-xsolla">
      <div class="col-xs-12 col-sm-12 col-md-6 sub-wrapper" style="width:100%">
        {{>gold-subscribe-features}}
        <div class="pl-4 pb-2">
          <a href="/gold">Learn more</a> about Gold.
        </div>
      </div>
    <div class="col-md-6" style="width:100%">
      {{>xsolla-iframe}}
    </div>
  </div>
{{/if}}
</script>

<script type="text/template"
        data-template="legacy-subscriptions"
        data-partial
        >
{{#each subscriptions}}
  <button type="button" onclick="clickCancelLegacySubscription(event)" data-id="{{_id}}" class="button button--full actionier">
    <span class="actionier-off">Cancel Legacy Subscription</span>
    <span class="actionier-on">Working...</span>
  </button>
{{/each}}
</script>

<script type="text/template"
        data-template="gold-subscribe-features"
        data-partial
>
<div class="p-4">
  {{#if hasSubscriptions}}
    <h2 class="mb-0">Your Gold Benefits</h2>
  {{else}}
    <h2 class="mb-0">Gold Subscription $5/mo</h2>
  {{/if}}
  <ul class="gold-sub-perks mt-2">
    <li>Download Monstercat songs in your preferred format</li>
    <li>Early streaming access to new release</li>
    <li>Use our music claim-free in your creative content</li>
    <li>Directly support the artist</li>
    <li>Discounts and early access to Monstercat merch</li>
    <li>Exclusive community features on Discord and reddit</li>
  </ul>
</div>
</script>


<script type="text/template"
        data-route="^gold/buy/success"
        transform="transformBuyGoldSuccess"
        data-title="Monstercat Gold">
        <div class="container">
          <div class="panel">
            <h1>Success</h1>
            <p>Your subscription is successful.</p>
          </div>
        </div>
</script>

<script type="text/template"
        data-route="^gold/buy"
        data-process="processGoldBuyPage"
        data-title="Buy Monstercat Gold"
        data-template="gold-buy-page"
        >
  <div class="container">
    {{#if hasGold}}
      <div class="panel">
        <h2>You Already Have Gold</h2>
        <p>Thanks {{email}}, we appreciate it <span class="fa {{emoji}}"></span></p>
      </div>
    {{/if}}
    {{>gold-subscribe-form}}
  </div>
</script>

<script type="text/html"
        data-route="^gold/compound"
        data-process="processGoldCompoundPage"
        data-title="Monstercat Gold Compount"
        data-template="page-gold-compound"
        >
<div class="container">
  <div class="panel">
    <h1>You're Gold. {{thankYou}} <span class="fa {{emoji}}"></span></h1>
    <p>Hi, <strong>{{email}}</strong>, thanks for being Gold! Show this page to a staff member at the Gold claw booth.</p>
  </div>
</div>
</script>

<script type="text/html"
        data-route="^gold"
        data-process="processGoldPage"
        data-title="Monstercat Gold"
        data-template="page-gold"
        >
    <div class="top-banner top-banner-gold">
      <div class="banner banner-image"></div>
      <div class="container flex">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6">
          <img src="/img/gold-logo-250.png" width="200px" class="mb-2" alt="Monstercat Gold">
          <ul class="gold-perks">
            <li><a href="#download-access" onclick="anchorScrollTo(event, this)">Download Monstercat songs in your preferred format</a></li>
            <li><a href="#early-streaming" onclick="anchorScrollTo(event, this)">Early streaming access to new releases</a></li>
            <li><a href="#content-creator-licenses" onclick="anchorScrollTo(event, this)">Use our music claim-free in your creative content</a></li>
            <li><a href="#support-the-artists" onclick="anchorScrollTo(event, this)">Directly support the artists</a></li>
            <li><a href="#shop-discounts" onclick="anchorScrollTo(event, this)">Discounts and early access to Monstercat merch</a></li>
            <li><a href="#discord" onclick="anchorScrollTo(event, this)">Exclusive community features on Discord and reddit</a></li>
          </ul>
          <br />
          {{#if hasGoldAccess}}
          <p>You already have Gold, {{sessionName}}. You're cool.</p>
          {{else}}
          <a class="button button--mcatgold-light" href="{{getGoldUrl}}" click-action="Click Get Gold" click-label="Gold Landing Header" click-category="Gold">
            Get Gold - $5/mo
          </a>
          {{/if}}
        </div>
      </div>
    </div>
    {{#each featureBlocks}}
      <section class="flex gold-feature-section" id="{{id}}">
          <div class="col-xs-12 col-sm-12 col-md-6 {{^isOdd}}col-md-last {{/isOdd}} article-banner">
              <div class="side-banner" style="background-image: url({{image}});"></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 article-details">
              <div class="article-wrapper {{#if isOdd}}pl-2{{else}}pr-2{{/if}}">
                <h2>{{title}}</h2>
                <p class="description">{{{description}}}</p>
                {{#if discord}}
                  {{>join-gold-discord hasGoldAccess=../hasGoldAccess}}
                {{/if}}
                {{#if shopDiscounts}}
                <p class="description">You'll also receive early access to new drops of merch to make sure you don't miss out!.</p>
                {{/if}}
                {{#unless ../hasGoldAccess}}
                  <a class="button button--mcatgold-light" href="{{../getGoldUrl}}" test-kpi="{{id}}" click-label="{{title}}" click-action="Click Get Gold" click-category="Gold" target="_BLANK">
                    {{cta}} - $5/mo
                  </a>
                {{/unless}}
                <a class="back-to-top" href="#top" onclick="anchorScrollTo(event, this)">back to top</a>
              </div>
          </div>
      </section>
    {{/each}}
    <div class="gold-footer-cta">
      <div class="banner" style="background-image:url(/img/banner.jpg)">
          <div class="banner-shade"></div>
          <div class="gradient gradient--inverted"></div>
      </div>
      <div class="container">
        <div class="button-group-center">
          {{#if hasGoldAccess}}
          <h2>You already have Gold, {{sessionName}}.</h2>
          <p>You're cool.</p>
          {{else}}
          <h2>Be Gold.</h2>
          <a class="button button--mcatgold" href="{{getGoldUrl}}" click-action="Click Get Gold" click-label="Gold Landing Footer" click-category="Gold">Get Gold - $5/mo</a>
          {{/if}}
        </div>
      </div>
    </div>
</script>

<script type="text/template"
        data-partial
        data-template="cotw-gold-vote"
        data-route="^cotw-gold"
        data-process="processCotwGoldPage"
        >
<div class="container" style="max-width: 700px; min-height: 920px;">
  {{#if hasGold}}
    <div class="panel panel--no-padding">
      <div class="p-2 mb-2">
        <h1>Call of the Wild x Gold</h1>
        Hey Gold family! We're excited to announce an upcoming <a href="/gold" style="color: goldenrod;">Gold</a>-themed <a href="/cotw">COTW</a> episode, airing Wed Aug 22 @ 1 PM PDT. We'll be using your responses below to curate the tracks used in the episode.
      </div>
      <iframe src="{{iframeSrc}}" width="700" height="920" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  {{else}}
    <div class="panel">
      <h2>Call of the Wild x Gold</h2>
      <p>You'll have to <a href="/gold/buy">get Gold</a> to submit your tracks for this CotW episode.
    </div>
  {{/if}}
  {{#unless hasGold}}
    <div class="mt-2 position-relative">
      {{>gold-panel}}
    </div>
  {{/unless}}
</script>
