<script type="text/template"
        data-route="^humble"
        data-title="Humble Bundle Redeem"
        data-process="processHumbleBundleRedeemPage"
        data-template="humble-bundle-page"
        >
<div class="container">
  <div class="panel panel--dark humble-header">
    <img src="https://assets.monstercat.com/humblestreaming.png" alt="Humble Streaming Bundle" />
  </div>
</div>

<div class="container">
  <div class="panel">
    <h2>Still haven't redeemed your Humble code?</h2>
    {{#isSignedIn}}
    <button class="button" onclick="showIntercom(event, this)" role="feedback">
        <i class="fa fa-comments-o"></i>
        Talk to us
    </button>  
    {{/isSignedIn}}
    {{^isSignedIn}}
    <p>Email us at <a href="mailto:support@monstercat.com">support@monstercat.com</a>.</p>
    {{/isSignedIn}}
  </div>
</div>
</script>