<script type="text/template"
        data-route="^twitchpromo$"
        data-title="Free Trial of Twitch Music Licensing"
        data-process="processLicensingTwitchTrial"
        data-template="licensing-twitch-trial"
        >
<div class="container" style="max-width: 600px; margin: 0 auto;">
  <div class="panel paragraphs">
    <h1>Free Twitch License Trial</h1>
    <p>This promotion has ended.</p>
  </div>

  {{#if hasSubmitted}}
    {{#unless hasGold}}
      <div class="mt-2 position-relative">
        {{>gold-panel}}
      </div>
    {{/unless}}
  {{/if}}
</div>
</script>

<script type="text/html"
        data-route="^licensing\/content-creators\/?\??(.*)?$"
        data-title="Licensing Music for YouTube, Twitch, and Mixer"
        data-process="processLicensingContentCreators"
        data-template="licensing-content-creators-page"
        >
  <div class="licensing">
    <div class="banner" id="licensing">
      <div class="banner-shade"></div>
    </div>
    <div class="container">
      <div class="flex">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6">
          <h1>Music for Content Creators</h1>
          <div class="licensing-box licensing-box--margin">
            {{>licensingContentCreatorSellingPoints}}
          {{#if hasGoldAccess}}
          {{else}}
            <div class="button-group">
              <a class="button button--mcatgold button--full" href="/gold/buy" click-action="Click Get Gold" click-category="Gold" target="_BLANK">
                <span class="title">Get Gold - $5/MO</span>
                <span class="subtitle"> TO ADD LICENSES</span>
              </a>
            </div>
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel flex">
      <div class="col-md-6">
        <h2>How It Works</h2>
        <h3>Thanks for your interest in using Monstercat's music!</h3>
        <p class="mt-2">If you use our music without subscribing to Gold, you'll receive a claim. These are not copyright strikes and aren't bad for your channel. Advertising revenue from the video will go to us and the artists involved with the song.</p>
        <p class="mt-2">If you plan on monetizing your content and would like to keep 100% of the revenue claim-free, you can subscribe to Monstercat Gold. We currently support music usage on YouTube, Twitch and Mixer.</p><p class="mt-2">If you do not have a Gold subscription, then we ask that you do not appeal our claims. We may have to issue a strike if a reinstated claim is disputed or if you otherwise violate the below policies.</p> 
      </div>
      <div class="col-md-6 vendors">
        <div class="mb-3 mt-3">
          <img src="/img/vendors/YouTube-full.png" alt="YouTube">
          <img src="/img/vendors/twitch-full.png" alt="Twitch">
          <img src="/img/vendors/mixer-full.png" alt="Mixer">
        </div>
        <div class="col-sm-12 mt-0">
        {{#if hasGoldAccess}}
          <a class="button button-full button--mcatgold-light" href="/account/licenses">Add Content Creator Licenses</a>
        {{else}}
          <a class="button button-full button--mcatgold-light" href="/gold/buy" click-action="Click Get Gold" click-category="Gold" target="_BLANK">Get Gold - $5/MO</a>
        {{/if}}
        <a class="button button-full button--black" href="/licensing/other-platforms">Using another platform?</a>
        </div>
      </div>
    </div>
    {{>licensingContentCreatorFAQs}}
  </div>
  <div class="panel panel--dark-gold gold-footer-cta">
    <div class="button-group-center">
      <a href="/gold#top"><img src="/img/gold-logo-250.png" width="200px" class="mb-2" alt="Monstercat Gold"></a><br>
      {{#if hasGoldAccess}}
      <a class="button button--mcatgold button--full" href="/account/licenses">Add Content Creator Licenses</a>
      {{else}}
      <a class="button button--mcatgold button--full" href="/gold/buy" click-action="Click Get Gold" click-category="Gold" target="_BLANK">Get Gold - $5/MO</a>
      {{/if}}
    </div>
  </div>
</script>

<script type="text/html"
        data-route="^licensing\/?$"
        data-title="Licensing"
        data-process="processLicensingPage"
        data-template="licensing-page"
        >
  <div class="flex license-type">
    <div class="col-xs-12 col-sm-12 col-md-6 text creator-wrapper clearfix">
      <div class="container-right clearfix">
        <header>
            <h1 class="line-top">Licensing for Content Creators</h1>
        </header>
        <p class="description">Licensing for YouTube, Twitch and Mixer.</p>
        <a class="button button--black button--icon" href="/licensing/content-creators">
          Learn more
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 text cl-white left commercial-wrapper">
      <div class="container-right">
        <header>
          <h1 class="line-top">Licensing for Commercial Use</h1>
        </header>
        <p class="description">
          Licensing for Movies, TV shows, Advertisements.
        </p>
        <a class="button button--black button--icon" href="/sync">
          Learn more
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</script>

<script type="text/template"
        data-route="^license\/?$"
        redirect="/licensing">
</script>

<!-- POLICY PAGES -->

<script type="text/template"
        data-route="^licensing\/twitch-policy\/?\??(.*)?$"
        data-title="Twitch License Policy"
        data-process="processMarkdownBarePage"
        >
  <div class="container">
    <h1>Twitch Licensing Policy</h1>
  </div>
  <div
      data-process="processMarkdownBare"
      data-no-cors
      data-source="https://raw.githubusercontent.com/monstercat/docs/master/Twitch%20Policy.md">
  </div>
  <div class="container panel">
    <h3>Get a Twitch License</h3>
    <br />
    <a class="button button-cta button--twitch" href="/account/whitelists?vendor=twitch">
        <span class="title">Get a License</span>
        <span class="subtitle">Free with Gold</span>
    </a>
    <span class="or">or</span>
    <a href="/licensing/content-creators">read more</a>
  </div>
</script>

<script type="text/template" data-template="markdown-simple" data-process="processMarkdownSimple">
{{>markdown-basic}}
</script>


<script type="text/template" data-template="markdown-bare" data-process="processMarkdownBare">
{{{data}}}
</script>

<script type="text/template"
        data-route="^licensing\/youtube-policy\/?\??(.*)?$"
        data-title="Monstercat YouTube Licensing Policy"
        data-template="youtube-policy-page"
        data-process="processPage"
        >
  <div class="container">
    <h1>YouTube Licensing Policy</h1>
  </div>
  <div
      class="reading-md"
      data-process="processMarkdownSimple"
      data-source="https://raw.githubusercontent.com/monstercat/docs/master/YouTube%20Policy.md"
      data-no-cors
      >
  </div>
  <div class="container panel">
    <h3>Get a YouTube License</h3>
    <br />
    <a class="button button-cta button--youtube" href="/account/whitelists?vendor=youtube">
        <span class="title">Get a License</span>
        <span class="subtitle">Free with Gold</span>
    </a>
    <span class="or">or</span>
    <a href="/licensing/content-creators">read more</a>
  </div>
</script>

<script type="text/template"
        data-route="^licensing\/other-platforms\/?\??(.*)?$"
        data-process="processLicensingOtherPlatformsPage"
        data-template="licensing-other-platforms-page"
        >
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel paragraphs">
      <h1>Music Licensing for Other Platforms</h1>
      <p>Monstercat whitelist licenses for content creators are currently available for <a href="/licensing/content-creators">YouTube, Twitch, and Mixer</a>.</p>

      <p><a href="/sync">Commercial music licensing</a> is also available.</p>

      <p>If you would like a whitelist license for another platform, let us know below and we can contact you when they become available.</p>

      <form onsubmit="submitLicensingOtherPlatforms(event)" id="other-platforms-form">
        <div class="form-group">
          <label>Platforms</label>
          <ul class="checkboxes">
            {{#each platforms}}
              <li>
                <label>
                  <input type="checkbox" name="{{.}}" value ="1" />
                  {{.}}
                </label>
              </li>
            {{/each}}
            <li>
              <label>Other:</label>
              <input type="text" name="other" class="small" size="20" />
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label>Your Email</label>
          <input type="text" name="email" placeholder="Your email" value="{{email}}" size="30" />
        </div>
        <div class="form-group">
          <button class="button button-cta" id="submit-licensing-other-platforms">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</script>

<!-- MUSTACHES -->

<script type="text/template"
        data-partial data-template="licensing-content-creator-ctas">
{{#if hasGoldAccess}}
  <a class="button button--full button-cta button--youtube button-cta--mobile" role="licensing-cta" href="/account/whitelists?vendor=youtube">
      <span class="title">YouTube</span>
      <span class="subtitle">Add a Channel</span>
  </a>
  <a class="button button--full button-cta button--twitch button-cta--mobile" role="licensing-cta" href="/account/whitelists?vendor=twitch">
    <span class="title">Twitch</span>
    <span class="subtitle">Add a Channel</span>
  </a>
  <a class="button button--full button-cta button--beam button-cta--mobile" role="licensing-cta" href="/account/whitelists?vendor=beam">
    <span class="title">Mixer</span>
    <span class="subtitle">Add a Channel</span>
  </a>
{{else}}
  <a class="button button--full button-cta button--youtube button-cta--mobile" role="licensing-cta" href="/gold/buy" data-redirect-label="YouTube License" data-redirect-url="/account/whitelists?vendor=youtube">
      <span class="title">YouTube</span>
      <span class="subtitle">Free With Gold</span>
  </a>
  <a class="button button--full button-cta button--twitch button-cta--mobile" role="licensing-cta" href="/gold/buy" data-redirect-label="Twitch License" data-redirect-url="/account/whitelists?vendor=twitch">
    <span class="title">Twitch</span>
    <span class="subtitle">Free With Gold</span>
  </a>
  <a class="button button--full button-cta button--beam button-cta--mobile" role="licensing-cta" href="/gold/buy" data-redirect-label="Mixer License" data-redirect-url="/account/whitelists?vendor=beam">
    <span class="title">Mixer</span>
    <span class="subtitle">Free With Gold</span>
  </a>
{{/if}}
</script>

<script type="text/template"
        data-partial data-template="licensingOurContentCreators">
  <h2>Our Content Creators</h2>
  <p>Some of the great streamers and YouTubers using Monstercat music to make their content great.</p><!-- what year is it? -->
  <ul class="clients">
    <li><a href="https://www.youtube.com/user/PewDiePie" target="_blank">PewDiePie</a></li>
    <li><a href="https://www.youtube.com/user/freekickerz" target="_blank">Freekickerz</a></li>
    <li><a href="https://youtube.com/user/elrubiusomg" target="_blank">elrunbiusOMG</a></li>
    <li><a href="https://www.youtube.com/user/pixiwoo" target="_blank">Pixiwoo</a></li>
    <li><a href="https://www.youtube.com/user/KSIOlajidebt" target="_blank">KSI</a></li>
    <li><a href="https://www.facebook.com/peopleareawesome/" target="_blank">People Are Awesome</a></li>
  </ul>
</script>

<script type="text/html"
        data-partial data-template="licensingContentCreatorFAQs">

  <div class="panel">
      <h2 class="line-top mt-2">Frequently Asked Questions</h2>
      <div id="whitelistfaq"
      data-source="https://raw.githubusercontent.com/monstercat/docs/master/site/whitelistfaq.html" 
      data-no-cors
      data-process="processWhitelistFaq"></div>
  </div>
</script>


<script type="text/template"
        data-partial data-template="licensingContentCreatorSellingPoints">
  <ul class="selling-points">
    <li>Available to all our <a href="/gold" class="cl-white">Monstercat Gold</a> subscribers</li>
    <li>Get whitelisted to use our music</li>
    <li>Pay monthly</li>
    <li>Keep 100% of your content's monetization</li>
  </ul>
</script>

<script type="text/template"
        data-partial data-template="licensing-modal-main">
  <div class="section content-creators flex-buttons">
      <a class="button button-cta button-cta--mobile" href="/sync" onclick="closeModal(event)">
        <span class="title">Commercial</span>
        <span class="subtitle">Movies, TV Shows</span>
      </a>
  </div>
</script>

<!-- MODALS -->

<script type="text/template"
        data-template="track-licensing-modal"
        transform="loadReleaseAndTrack">
    <div class="modal modal--licensing-track modal--licensing">
        <div class="panel pointer-events">
            <h1>License This Track</h1>
            {{#if loading}}
              {{>loading-inner-view}}
            {{else}}
              {{#if error}}
                <p>{{message}}</p>
              {{else}}
                {{>licensing-modal-main}}
                <div class="section crediting">
                  <h3>Credit the Artists</h3>
                  <div class="flex">
                    <div class="col-xs-12 col-sm-6 flex-buttons">
                      <button onclick="showCrediting(event, this)" credit-type="youtube" class="button button-cta button-cta--mobile button--youtube">
                        <span class="title">YouTube</span>
                        <span class="subtitle">in Description</span>
                      </button>
                      <button onclick="showCrediting(event, this)" credit-type="other" class="button button-cta button-cta--mobile">
                        <span class="title">Other</span>
                        <span class="subtitle">Facebook/Twitter</span>
                      </button>
                    </div>
                    <div class="col-xs-12 col-sm-6 flex-buttons">
                      <textarea onclick="copyCrediting(event,this)" class="copycredits hide" credit-type="youtube">{{track.copycredit}}</textarea>
                      <textarea onclick="copyCrediting(event, this)" class="copycredits hide" credit-type="other">{{track.copycreditOther}}</textarea>
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/if}}
            <button class="button--close faux" onclick="closeModal(event)">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
</script>
