<script type="text/html"
        data-route="^music"
        data-title="Music"
        data-template="releases-page"
        data-process="processReleasesPage"
        >
    <div data-source="$endpoint/catalog/release?{{query}}"
         data-process="processMusicReleases">
    </div>
</script>

<script type="text/template"
        data-template="music-releases"
        data-process="processMusicReleases">
    {{#data}}
    <div class="container">
        <header class="flex top-title">
            <div class="col-xs-6">
                <h1>Releases</h1>
            </div>
            <div class="col-xs-6 text right">
                <a href="/browse" class="button button--black button--icon button--transparent">
                    Browse Advanced Options
                    <i class="fa fa-chevron-right"></i>
                </a>
                <a href="/catalog" class="button button--black button--icon button--transparent">
                    Explore in Catalog View
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </header>
        <ul class="panel art-list">
            {{#results}}
                {{>release-list-item}}
            {{/results}}
        </ul>
    </div>
    {{#unless total}}
        <div class="container text center panel">No results found.</div>
    {{/unless}}
    {{#if total}}
      <div class="container pagination pad-vertical text center">
          {{#if previous}}
            <a href="?{{previous}}">Previous</a>
          {{/if}}
          <label>{{showingFrom}} - {{showingTo}} of {{total}}</label>
          {{#if next}}
            <a href="?{{next}}">Next</a>
          {{/if}}
      </div>
    {{/if}}
    {{/data}}
</script>

<script type="text/template"
        data-partial data-template="unlicensable">
{{^licensable}}<div class="unlicensable">Not available for Content Creator licenses. <a href="/non-licensable-tracks">Read more</a></div>{{/licensable}}
</script>

<script type="text/template"
        data-partial data-template="early-access-msg">
{{#inEarlyAccess}}
<div class="in-early-access-msg">
    {{^hasGoldAccess}}
        Early streaming for <a href="/gold">Gold</a> members only.
    {{/hasGoldAccess}}
    {{#hasGoldAccess}}
        Early streaming because you have Gold.
    {{/hasGoldAccess}}
</div>
{{/inEarlyAccess}}
</script>

<script type="text/template"
        data-partial data-template="play-release">
<button class="button--release-cta button--cta"
        onclick="playSongs(event, this)"
        ab-test="{{activeTest}}"
        kpi="play-release"
        role="play-release"
        data-release-id="{{_id}}">
    <i class="fa fa-play inactive"></i> <span>Play</span>
    <i class="fa fa-pause active"></i> <span>Pause</span>
</button>
</script>

<script type="text/template"
        data-partial data-template="track-cells-one-line">
<td class="longer-width">
  <div class="scroll-container"
       onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
    <span class="scroll-title">{{title}}{{>early-access-msg}}{{>unlicensable}}</span>
  </div>
</td>
{{#if playlistId}}
<td class="longer-width">
  <div class="scroll-container"
       onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
    <a href="/release/{{releaseId}}" class="scroll-title">{{release.title}}</a>
  </div>
</td>
{{/if}}
<td class="longer-width">
    {{>artists-csv-list}}
</td>
<td class="col-xs-hidden col-md-visible genre">{{#genre}}<span>{{.}}</span>{{/genre}}</td>
<td class="col-xs-hidden col-md-visible">{{time}}</td>
<td class="col-xs-hidden col-md-visible">{{bpm}}</td>
</script>


<script type="text/template"
        data-partial data-template="artists-csv-list">
{{#if artistsList.length}}
    <span class="artists comma-list{{#or}} or{{/or}}">
    {{#artistsList}}<span class="artist">{{#public}}<a href="{{artistPageLink}}">{{name}}</a>{{/public}}{{^public}}{{name}}{{/public}}</span>{{/artistsList}}
    </span>
{{else}}
    {{artistsTitle}}
{{/if}}
</script>

<script type="text/template"
        data-partial data-template="track-cells">
<td>{{title}}{{>early-access-msg}}{{>unlicensable}}</td>
{{#playlistId}}
<td><a href="/release/{{releaseId}}">{{releaseTitle}}</a></td>
{{/playlistId}}
<td>
    {{>artists-csv-list}}
</td>
<td class="col-xs-hidden col-md-visible genre">{{#genre}}<span>{{.}}</span>{{/genre}}</td>
<td class="col-xs-hidden col-md-visible">{{time}}</td>
<td class="col-xs-hidden col-md-visible">{{bpm}}</td>
</script>

<script type="text/template"
        data-partial
        data-template="play-song">
{{#streamable}}
<button class="faux button--mobile{{#inEarlyAccess}} in-early-access{{/inEarlyAccess}}"
        onclick="playSong(event, this)"
        role="play-song"
        data-play-link="{{playUrl}}"
        data-title="{{title}}"
        data-artists-title="{{artistsTitle}}"
        {{#if artists.length}}
            data-artist="{{#each artists}}{{name}}, {{/each}}"
        {{/if}}
        data-index="{{index}}"
        data-track-id="{{_id}}"
        {{#if activeTest}}
            data-ab-test="{{activeTest}}"
            data-kpi="play-track"
        {{/if}}
        {{#if licensable}}
            data-licensable
        {{/if}}
        {{#if playlistId}}
            data-playlist-id="{{playlistId}}"
        {{/if}}
        data-release-id="{{releaseId}}">
    <i class="fa fa-play-circle inactive"></i>
    <i class="fa fa-pause-circle active"></i>
</button>
{{/streamable}}
{{^streamable}}
    {{#inEarlyAccess}}
        <button class="faux button--mobile{{#inEarlyAccess}} in-early-access{{/inEarlyAccess}}"
                onclick="canDownloadOrModal(event, this)"
                title="{{title}}">
            <i class="fa fa-play-circle inactive"></i>
        </button>
    {{/inEarlyAccess}}
{{/streamable}}
</script>

<script type="text/template"
        data-partial data-template="track-buttons">
{{#if showDownloadLink}}
<a class="silent button--mobile"
   target="_blank"
   data-title="Download Track"
   data-free-download-for-users="{{freeDownloadForUsers}}"
   data-track-title="{{title}}"
   onclick="accessDownloadOrModal(event, this)"
    {{#if activeTest}}
        data-ab-test="{{activeTest}}"
        data-kpi="download-track"
    {{/if}}
   href="{{downloadLink}}">
    <i class="fa fa-download"></i>
</a>
{{/if}}
{{#if streamable}}
<a class="silent button--mobile"
   target="_blank"
    onclick="openTrackLicensing(event)"
    data-release-id="{{releaseId}}"
    {{#if activeTest}}
        ab-test="{{activeTest}}"
        kpi="open-track-licensing"
    {{/if}}
    data-track-id="{{_id}}">
    <i class="fa fa-copyright"></i>
    <span class="col-xs-hidden">License</span>
</a>
{{/if}}
{{#if canPlaylist}}
<a class="silent button--mobile"
   target="_blank"
    onclick="openAddToPlaylist(event, this)"
    data-title="Add to Playlist"
    data-release-id="{{releaseId}}"
    data-track-id="{{_id}}">
    <i class="fa fa-plus"></i>
    <span class="col-xs-hidden">Add to Playlist</span>
</a>
{{/if}}
</script>

<script type="text/template"
        data-route="^artist\/(.*)"
        data-title="Artist"
        data-process="processArtistPage"
        data-template="page-artist"
        data-source="$endpoint/catalog/artist/$1">
{{#data}}
    <div class="bgbox">
        <div class="banner banner--scaled">
            <div class="banner"
              style="background-image: url('{{image}}');
              background-position: center {{imagePositionY}}%;"></div>
            <div class="banner-shade banner-shade--darker"></div>
        </div>
        <div class="container">
            <div class="cl-white">
                <div class="details-box artist clearfix">
                    <h1>{{name}}</h1>
                    <div class="options push-right">
                        {{#socials}}
                        <a href="{{link}}" target="_blank"><i class="fa fa-{{icon}}"></i></a>
                        {{/socials}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{#if about}}
        <div class="panel">
            <h2>About</h2>
            <p>{{about}}</p>
        </div>
        {{/if}}
        {{#if contact}}
        <div class="panel">
            <h2>Booking &amp; Management</h2>
            <br/>
            {{{contact.booking}}}
            {{{contact.management}}}
        </div>
        {{/if}}
        <div data-source="$endpoint/catalog/artist/{{_id}}/releases"
             data-process="processUserReleases"
             >
        </div>
        {{#if shopifyCollectionId}}
        <div class="panel">
            <h2>Buy {{name}} Merch</h2>
            <div role="shopify-embed"></div>
        </div>
        {{/if}}
    </div>
{{/data}}
</script>

<script type="text/template"
        data-partial
        data-template="album-release-dates">
    {{#unless inEarlyAccess}}
        {{#if preReleaseDate}}Pre-Released {{preReleaseDate}}{{/if}}
        {{#if releaseDate}}Released {{releaseDate}}{{/if}}
    {{/unless}}
    {{#if inEarlyAccess}}
        {{#if preReleaseDateObj}}Pre-Releases in <span role="countdown" class="countdown" to="{{preReleaseDateObj}}" completed="featuredReleaseCountdownEnd"></span>{{/if}}
        {{#if releaseDateObj}}Releases in <span role="countdown" class="countdown" to="{{releaseDateObj}}" completed="featuredReleaseCountdownEnd"></span>{{/if}}
    {{/if}}
</script>

<script type="text/template"
  data-template="user-releases"
  data-process="processUserReleases">
    {{#loading}}
    <div class="panel">
      <h2>Releases</h2>
      {{>loading-inner-view}}
    </div>
    <div class="panel" role="appears-on">
      <h2>Appears On</h2>
      {{>loading-inner-view}}
    </div>
    {{/loading}}
    {{#if error}}
    <div class="panel">
      <p>{{message}}</p>
    </div>
    {{/if}}
    {{#unless loading}}
        {{#if releases.length}}
        <div class="panel">
          <h2>Releases</h2>
          <ul class="art-list art-list--full-width discography">
          {{#releases}}
              {{>release-list-item}}
          {{/releases}}
          </ul>
        </div>
        {{/if}}
        {{#if appearsOn.length}}
        <div class="panel">
          <h2>Appears On</h2>
          <ul class="art-list art-list--full-width discography">
          {{#appearsOn}}
          {{>release-list-item}}
          {{/appearsOn}}
          </ul>
        </div>
        {{/if}}
    {{/unless}}
</script>

<script type="text/template"
        data-template="release-list-item"
        data-partial
        >
    <li class="{{#inEarlyAccess}}in-early-access{{/inEarlyAccess}}">
        <a class="silent" href="/release/{{catalogId}}" title="{{title}} / {{artists}}">
            <div class="image-wrapper">
                <img src="/img/artwork.jpg" class="preload" />
                <img src="{{cover}}"/>
            </div>
            <label class="title one-line-ellipsis">{{title}}</label>
            <br/>
            <label class="artist one-line-ellipsis">{{artists}}</label>
        </a>
    </li>
</script>
