<script type="text/template"
        data-route="^catalog"
        data-title="Catalog Music"
        data-process="processCatalogPage"
        data-template="catalog-page"
        >
    <div class="container">
        <div class="flex" data-set="browse-filters">
            <div class="col-xs-12 browse-filters browse-filters--table"
                 data-source="$endpoint/catalog/browse/filters"
                 data-process="processCatalogFilters">
            </div>
            <div class="col-xs-12 catalog-table" role="catalog-pages"></div>
        </div>
    </div>
</script>

<script type="text/template"
        data-process="processCatalogFilters"
        data-template="catalog-filters"
        >
    {{#data}}
    <div class="flex">
      <form onsubmit="submitFilterBrowseMusic(event, this)" class="col-xs-12 col-md-10 flex browse-fieldsets">
        <fieldset class="filter-group">
          <input type="text" placeholder="Search" name="search" value="{{search}}" />
        </fieldset>
        <fieldset class="filter-group">
          <select name="type" onchange="addBrowseFilter(null, this)">
            <option value="">Release Type</option>
            {{#each types}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>
        </fieldset>
        <fieldset class="filter-group">
          <select name="genre" onchange="addBrowseFilter(null, this)">
            <option value="">Genre</option>
            {{#each genres}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </fieldset>
        <fieldset class="filter-group">
          <select name="tag" onchange="addBrowseFilter(null, this)">
            <option value="">Tag</option>
            {{#each tags}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>
        </fieldset>
        <div class="col-xs-12 col-md-2 button-group button-group--filters">
            <button class="button--cta button--full">Apply</button>
        </div>
      </form>
    </div>
    {{/data}}
</script>

<script type="text/template"
        data-template="catalog-rows-group">
    <div
         data-process="processCatalogResults"
         data-source="{{source}}">
    </div>
    </footer>
</script>

<script type="text/template"
        data-partial data-template="catalog-sorting-header">
<a href="#" class="{{#sorting}}sorting-active {{/sorting}}{{#desc}}sorting-desc {{/#desc}}{{#asc}}sorting-asc{{/asc}}">{{label}}</a>
</script>

<script type="text/template"
        data-template="catalog-rows"
        data-process="processCatalogResults"
        >
  {{#data}}
  <header class="flex">
    <div class="col-xs-12 col-sm-6 browse-table-tags">
      <ul class="filter-list" role="filters-list-types"></ul>
      <ul class="filter-list" role="filters-list-genres"></ul>
      <ul class="filter-list" role="filters-list-tags"></ul>
    </div>
    <div class="col-xs-12 col-sm-6 pagination-right">
      {{>search-pagination}}
    </div>
  </header>
  <table class="one-line">
    <thead>
      <tr>
        <th></th>
        {{#each tableHeaders}}
          <th class="{{#xsHidden}}col-xs-hidden col-md-visible{{/xsHidden}}{{#active}} active{{/active}}">
            <a href="{{href}}">
              {{label}}
              {{#if active}}
                <span class="fa {{#asc}}fa-sort-asc{{/asc}}{{#desc}}fa-sort-desc{{/desc}}"></span>
              {{else}}
                <span class="fa fa-sort"></span>
              {{/if}}
            </a>
          </th>
        {{/each}}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#unless results.length}}
      <tr>
        <td colspan="9" class="empty-message">
          No tracks found.
        </td>
      </tr>
      {{/unless}}
      {{#each results}}
      <tr dblc-action="playSongDblC">
        <td>
          {{>play-song}}
        </td>
        <td class="longer-width">
          <div class="scroll-container"
               onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
            <span class="scroll-title artists">{{title}}</span>
          </div>
          {{>unlicensable}}
        </td>
        <td class="longer-width artists">
            <div class="scroll-container"
               onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
            <span class="scroll-title">
              {{>artists-csv-list}}
            </span>
          </div>
        </td>
        <td class="longer-width">
          <div class="scroll-container"
               onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
            <a class="scroll-title" href="/release/{{release.catalogId}}">
              {{release.title}}
            </a>
          </div>
        </td>
        <td class="col-xs-hidden col-md-visible">{{time}}</td>
        <td class="col-xs-hidden col-md-visible">{{bpm}}</td>
        <td class="col-xs-hidden col-md-visible">{{genre}}</a></td>
        <td class="col-xs-hidden col-md-visible">
          {{releaseDate.month}}&nbsp;{{releaseDate.day}},&nbsp;{{releaseDate.year}}
        </td>
        <td>{{>track-buttons}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <footer class="pagination-right">{{>search-pagination}}</footer>
  {{/data}}
</script>
