<script type="text/template"
        data-template="add-to-playlist-modal"
        >
    <div class="modal">
        <div class="panel pointer-events">
            <h2 class="mv-0">Add to Playlist</h2>
            {{#if loading}}
                {{>loading-inner-view}}
            {{else}}
                {{#if error}}
                    <p>{{message}}</p>
                {{else}}
                    <div class="playlists">
                        <h5 class="mt-2">Add to New Playlist</h5>
                        <form onsubmit="createAndAddToPlaylist(event, this)">
                            <input type="hidden" name="releaseId" value="{{releaseId}}" />
                            <input type="hidden" name="trackId" value="{{trackId}}" />
                            <input name="name"
                                class="mv-1 mh-0 input--big xs-expando xs-expando-m"
                                type="text"
                                size="30"
                                placeholder="Playlist Name"
                                autocomplete="off">
                            <button class="mv-1 mh-0 xs-expando xs-expando-m">
                                {{>submit-button-inner text="Create and Add"}}
                            </button>
                        </form>
                        <h5 class="mt-1 mb-1">Add to Existing Playlist</h5>
                        {{#if showFilter}}
                        <form class="filter-form">
                            <span class="fa fa-search"></span>
                            <input type="text" class="mb-1" role="filter-playlists" placeholder="Filter" />
                        </form>
                        {{/if}}
                        <table>
                            <tbody>
                                {{#each results}}
                                <tr onclick="addToPlaylist(event, this)"
                                    class="actionier"
                                    data-playlist-id="{{_id}}"
                                    data-track-id="{{../trackId}}"
                                    data-release-id="{{../releaseId}}">
                                    <td>{{name}}</td>
                                    <td class="text right">
                                        <i class="fa fa-plus actionier-off"></i>
                                        <span class="actionier-on"><i class="fa fa-spin fa-refresh"></i></span>
                                    </td>
                                </tr>
                                {{/each}}
                                {{#unless results.length}}
                                <tr>
                                    <td colspan="2">No Playlists.</td>
                                </tr>
                                {{/unless}}
                            </tbody>
                        </table>
                    </div>
                {{/if}}
            {{/if}}
            <button class="button--close faux" onclick="closeModal(event, this)">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/template"
        data-title="My Playlists"
        data-source="$endpoint/playlist?fields=name,public"
        data-process="processPlaylistsPage"
        data-route="^playlists"
        data-template="playlists-page"
        >
    <div class="container">
        <h1>My Playlists</h1>
        <div class="panel">
            <div class="options">
                <button onclick="clickCreatePlaylist(event, this)">
                    Create Playlist
                </button>
            </div>
            {{#if loading}}
                {{>loading-view}}
            {{/if}}
            {{#if error}}
                {{>error-view}}
            {{/if}}
            {{#data}}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each results}}
                            <tr>
                                <td><a href="/playlist/{{_id}}">{{name}}</a></td>
                                <td class="push-right text right">
                                    <button class="faux button--mobile"
                                            onclick="renamePlaylist(event, this)"
                                            data-playlist-name="{{name}}"
                                            data-playlist-id="{{_id}}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="faux button--mobile"
                                            onclick="destroyPlaylist(event, this)"
                                            data-playlist-id="{{_id}}">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        {{/each}}
                        {{#unless results.length}}
                            <tr><td colspan="2">No Playlists.</td></tr>
                        {{/unless}}
                    </tbody>
                </table>
            {{/data}}
        </div>
    </div>
</script>

<script type="text/template"
        data-route="^playlist\/(.*)"
        data-source="$endpoint/playlist/$1?fields=name,public,userId"
        data-process="processPlaylistPage"
        data-template="playlist-page"
        >
    <div class="container">
        <h1 playlist-id="{{_id}}">{{playlist.name}}</h1>
        <div class="panel">
            <div class="options pad-vertical push-right">
                {{#if canPublic}}
                <label>
                    <input
                        type="checkbox"
                        onclick="togglePlaylistPublic(event, this)"
                        playlist-id="{{_id}}"
                        {{#if playlist.public}}checked{{/if}} />
                    Public
                </label>
                <button onclick="reorderPlaylistFromInputs(event, this)"
                        trigger="reorderPlaylistFromInputs">
                        <i class="fa fa-fw fa-save" role="save-playlist-order"></i>
                        Save Order</button>
                {{/if}}
                 <button class="faux button--mobile">
                    <i class="fa fa-fw fa-play"
                       onclick="playSongs(event, this)"
                       role="play-playlist"></i>
                </button>
               {{#if downloadUrl}}
                <a class="silent button--mobile"
                   title="Download Playlist"
                   onclick="canDownloadOrModal(event, this)"
                   href="{{downloadUrl}}"><i class="fa fa-fw fa-download"></i> Download</a>
                {{/if}}
                {{#each downloadLinks}}
                <a class="silent button--mobile"
                   title="Download {{hover}}"
                   onclick="canDownloadOrModal(event, this)"
                   href="{{url}}"><i class="fa fa-fw fa-download"></i> {{label}}</a>
                {{/each}}

            </div>
            <table class="drag-sortable one-line" role="playlist-tracks">
                <thead>
                    <tr>
                        <th class="shrink"></th>
                        <th class="shrink"></th>
                        <th>Title</th>
                        <th>Release</th>
                        <th>Artist</th>
                        <th class="col-xs-hidden col-md-visible">Genre</th>
                        <th class="col-xs-hidden col-md-visible">Time</th>
                        <th class="col-xs-hidden col-md-visible">BPM</th>
                        <th></th>
                    </tr>
                </thead>
                {{#pagePlaceholders}}
                <tbody data-placeholder-page="{{page}}">
                    {{#tracks}}
                    <tr data-placeholder-index="{{index}}" data-placeholder-page="{{page}}">
                        <td class="shrink">
                            <input  type="text"
                                    disabled=""
                                    value="{{number}}"
                                    size="2" />
                        </td>
                        <td class="shrink">
                            <button class="faux button--mobile" role="play-song"><i class="fa fa-play-circle"></i></button>
                        </td>
                        <td>
                            {{#title}}{{>loading-placeholder}}{{/title}}
                        </td>
                        <td>
                            {{#release}}{{>loading-placeholder}}{{/release}}
                        </td>
                        <td>
                            {{#artists}}{{>loading-placeholder}}{{/artists}}
                        </td>
                        <td>
                            {{#genre}}{{>loading-placeholder}}{{/genre}}
                        </td>
                        <td>
                            <span class="loading-placeholder">Time</span>
                        </td>
                        <td>
                            <span class="loading-placeholder">BPM</span>
                        </td>
                        <td>
                            <span class="loading-placeholder"></span>
                            <span class="loading-placeholder"></span>
                            <span class="loading-placeholder"></span>
                            <span class="loading-placeholder"></span>
                        </td>
                    </tr>
                    {{/tracks}}
                </tbody>
                {{/pagePlaceholders}}
            </table>
        </div>
    </div>
</script>

<script type="text/template"
        data-template="playlist-tracks"
        data-process="processPlaylistTracks"
        completed="updateControls">
        {{#each results}}
        <tr role="playlist-track"
            data-track-id="{{_id}}"
            data-release-id="{{releaseId}}"
            {{#edit}}
            draggable="true"
            ondrop="playlistDrop(event)"
            ondragover="playlistAllowDrop(event)"
            ondragleave="playlistDragLeave(event)"
            ondragstart="playlistDragStart(event, '{{_id}}', '{{releaseId}}')"
            {{/edit}}>
            <td class="shrink">
                {{#edit}}
                <input  type="text"
                        onenter="reorderPlaylistFromInputs"
                        onfocus="playlistTrackOrderFocus(event, this)"
                        onblur="playlistTrackOrderBlur(event, this)"
                        data-track-id="{{_id}}"
                        data-release-id="{{releaseId}}"
                        track-title="{{title}}"
                        name="trackOrder[]"
                        tabIndex="{{trackNumber}}"
                        value="{{trackNumber}}" size="2" />
                {{/edit}}
                {{#noEdit}}
                {{trackNumber}}.
                {{/noEdit}}
            </td>
            <td class="shrink nohpad">
              {{>play-song}}
            </td>
            {{>track-cells-one-line}}
            <td class="push-right">
                {{>track-buttons}}
                {{#edit}}
                <button class="faux button--mobile"
                        onclick="clickRemoveFromPlaylist(event, this)"
                        data-playlist-position="{{index}}">
                    <i class="fa fa-trash-o"></i>
                </button>
                {{/edit}}
            </td>
        </tr>
        {{/each}}
        {{#unless results.length}}
            <tr>
                <td colspan="10">No Results.</td>
            </tr>
        {{/unless}}
</script>
