<script type="text/template"
        data-route="^(?:podcast|cotw|COTW)\/?$"
        data-title="Monstercat | Call of the Wild"
        data-process="processCOTWPage"
        data-template="cotw-page"
        >
    <div class="fullpage-wrapper">
        <iframe class="fullpage-iframe" height="900" src="https://www.monstercat.com/podcast-iframe/"></iframe>
        {{>loading-view}}
    </div>
</script>

<script type="text/template"
        data-route="^photo-?gallery\/?$"
        data-title="Photo Gallery Submission"
        data-template="photo-gallery-page"
        data-process="processPodcastPhotoGalleryPage"
        completed="onPodcastPageOpened"
        >
<div class="top-banner top-banner--no-margin ">
  <div class="banner">
      <div class="banner" id="podcast-oscillate" style="background-image:url('https://assets.monstercat.com/podcast/image1.jpg?image_width=1024')">
        <div class="banner-shade" style="background: rgba(0, 0, 0, 0.25);"></div>
        <div class="gradient"></div>
      </div>
  </div>
  <div class="container flex">
    <div class="col-xs-12 col-sm-12 col-md-6 cl-white featured-details">
      <h1 class="title uppercase">Photo Gallery <br/>Submission</h1>
      <h3>Want to see you works on <a href="http://live.monstercat.com">Monstercat FM</a>?</h3>
      <p class="date">Submit your photo for a chance to be seen by millions!</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="container panel">
        <form onsubmit="submitPodcastGallery(event, this)" class="actionier">
          <input type="hidden" name="type" value="podcast-gallery"/>
          <table class="form mobile">
            <tbody data-set="account">
              <tr>
                  <th>Image</th>
                  <td>
                    <input style="border:none;padding:0;background:transparent;" 
                           type="file" name="file" accept=".png,.jpg">
                    <p class="date" style="font-size: 12px;">
                    Minimum resolution of 1920x1080 in PNG or JPG.
                    </p>
                  </td>
              </tr>
              <tr>
                  <th>Display Name</th>
                  <td><input class="responsive" type="text" name="display_name"></td>
              </tr>
              <tr>
                  <th>Social Link</th>
                  <td><input class="responsive" type="text" name="social_link"></td>
              </tr>
              <tr>
                  <th>Contact Email</th>
                  <td><input class="responsive" type="text" name="email"></td>
              </tr>
              <tr>
                  <th></th>
                  <td>
                    <div class="checkbox email-optin-checkbox">
                        <label>
                            <input id="podcast-gallery-tos" type="checkbox" name="agree_tos">
                            I agree to the <a href="https://www.monstercat.com/photogallery/terms-of-service" target="_blank">Terms of Service</a>.
                        </label>
                    </div>
                  </td>
              </tr>
              <tr>
                  <th></th>
                  <td>
                    <button type="submit"
                            class="button--cta button--full action-toggle">
                      <span class="actionier-on">Loading <i class="fa fa-gear fa-spin"></i></span>
                      <span class="actionier-off">Submit</span>
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/template"
        data-route="^photo-?gallery\/terms-of-service\/?$"
        data-process="processMarkdownPage"
        data-source="https://raw.githubusercontent.com/monstercat/docs/master/site/Podcast%20Gallery%20Terms%20of%20Service.md">
  {{>markdown-basic}}
</script>
