<script type="text/template"
        data-route="^[Mm]ix[Cc]ontest2016\/votes"
        data-title="Mix Contest 2016 Votes"
        transform="transformMixContest">
  {{#loading}}
  {{>loading-view}}
  {{/loading}}
  {{#error}}
  <div class="container panel">
      <p>{{message}}</p>
  </div>
  {{/error}}
  {{#data}}
  {{#pollId}}
  <div data-source="$endpoint/poll/{{pollId}}/votes/breakdown" template="vote-breakdown"></div>
  {{/pollId}}
  {{/data}}
</script>

<script type="text/template"
        data-template="vote-breakdown"
        transform="transformVotesBreakdown"
        completed="completedHome">
  {{#loading}}
  {{>loading-view}}
  {{/loading}}
  {{#error}}
  <div class="container panel">
      <p>{{message}}</p>
  </div>
  {{/error}}
  {{#data}}
  <div class="container">
    <div class="panel">
        <table>
          <thead>
          <tr>
            <th>Votes</th>
          </tr>
          </thead>
          <tbody>
            {{#votes}}
            <tr>
              <td>{{.}}</td>
            </tr>
            {{/votes}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{/data}}
</script>

<script type="text/template"
        data-route="^[Mm]ix[Cc]ontest2016\/?$"
        data-title="Mix Contest 2016"
        data-template="mixcontest-2016-page"
        data-process="processMixContestPage"
        >
  {{#if pollId}}
  <div data-source="$endpoint/poll/{{pollId}}" 
       data-process="processMixContestPoll"></div>
  {{else}}
  <div class="container">
      <h1>Monstercat Mix Contest 2016</h1>
    <div class="panel">
      <div class="voting-closed">
        <p><strong>This week's Voting has closed. </strong>Come back next week.</p>
      </div>
    </div>
  </div>
  {{/if}}
</script>

<script type="text/template"
        data-template="mix-contest"
        data-process="processMixContestPoll"
        >
  <div class="top-banner top-banner--mix">
    <div class="banner">
        <div class="banner" style="background-image:url({{cover}})">
          <div class="banner-shade banner-shade--blue"></div>
        </div>
    </div>
    <div class="container flex">
      <div class="col-xs-12 col-sm-12 col-md-6 cl-white featured-details">
        {{#votingOpen}}<span class="tag tag--mix">Voting is Open!</span>{{/votingOpen}}
        {{^votingOpen}}<span class="tag tag--mix tag--mix-closed">Voting is closed</span>{{/votingOpen}}
        <h1 class="title uppercase">Monstercat Mix Contest 2016</h1>
        {{#votingOpen}}
        <h3>
          {{#endDate}}
            <span role="countdown" class="countdown" to="{{endDate}}" completed="pollCountdownEnd"></span>
          {{/endDate}}
          <span class="excerpt">Left to vote</span>
        </h3>
        {{/votingOpen}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel panel--mix text center">
      {{#votingOpen}}
        <h2>"{{question}}"</h2>
        <h3>You be the judge. Pick your champion DJ!</h3>
      {{/votingOpen}}
      {{#if audioLink}}
        <div class="audio-wrapper">
          <audio src="{{audioLink}}" controls></audio>
        </div>
      {{/if}}
      {{#if votingOpen}}
        <div data-set="choices" class="choice-list">
          <input type="hidden" name="pollId" value={{_id}} />
          <input type="hidden" name="maxChoices" value={{maxChoices}} />
          <input type="hidden" name="minChoices" value={{minChoices}} />
          {{#choices}}
          <div>
          <input type="checkbox" name="choices[]" value="choice-{{index}}" id="choice-{{index}}"/>
          <label for="choice-{{index}}">{{choice}}</label>
          </div>
          {{/choices}}
        </div>

        <div class="button-group">
            <button class="button--full button--cta" onclick="createVote(event, this)" data-set-target="choices">
              Vote
            </button>
        </div>
      {{/if}}

      <div class="tournament-image">
        <img src="{{tournamentImage}}" alt="Tournament Image" />
      </div>
    </div>
  </div>
</script>

<script type="text/template" data-template="poll-choice">
    <table>
      <tbody>
        <tr class="choice">
          <th>Choice {{number}}</th>
          <td><input type="text" name="choices[]" placeholder="Choice {{number}}" /></td>
        </tr>
      </tbody>
    </table>
</script>
