<script type="text/template"
        data-route="^artists\/?"
        data-process="processRosterPage"
        data-template="page-roster"
        data-title="Artists">
    <div class="container">
        <h1>Artists</h1>
        <div class="panel">
            <ul class="col-xs-hidden col-sm-visible button-list">
                {{#years}}
                    <li>
                        <a class="button {{#selected}}selected-year{{/selected}}"
                            href="/artists/?year={{year}}">{{year}}</a>
                    </li>
                {{/years}}
            </ul>
            <!-- mobile year selector -->
            <div class="col-xs-visible col-sm-hidden">
                <select class="select-year" role="roster-select">
                    <option value="0">Featured</option>
                    {{#years}}
                        <option {{#selected}}selected="selected"{{/selected}} 
                                value="{{year}}">{{year}}</option>
                    {{/years}}
                </select>
            </div>
            <div
                data-source="$endpoint/catalog/artist?fields=name,websiteDetailsId,vanityUri,profileImageBlobId,profileImageUrl&filters=years,{{selectedYear}}"
                data-process="processRosterYear"
                role="roster-artists"
                >
            </div>
        </div>
    </div>
</script>

<script type="text/template"
        data-template="roster-year"
        data-process="processRosterYear">
    <ul class="art-list artist-list">
        {{#each results}}
        <li>
            <a class="silent" href="/artist/{{uri}}" title="{{name}}">
                {{#image}}
                <div class="image-wrapper">
                    <img src="/img/artist.jpg" class="preload" />
                    <img src="{{.}}?image_width=512"/>
                </div>
                {{/image}}
                {{^image}}
                <div class="no-art">
                    <label>No image.</label>
                </div>
                {{/image}}
                <div class="hover-wrapper">
                    <label class="title one-line-ellipsis">{{name}}</label>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</script>
