<script type="text/template"
        data-route="^search\/artists(\?.*)?"
        data-process="processSearchArtistsPage"
        data-template="search-artists-page"
        >
    <div class="container">
        <h1>Artists</h1>
        {{#data}}
        <div data-source="$endpoint/catalog/artist?{{query}}"
             data-target-template="search-artists"
             data-process="processSearchArtistsResults"
             >
        </div>
        {{/data}}
    </div>
</script>

<script type="text/template"
        data-template="search-artists"
        data-process="processSearchArtistsResults"
        >
    <div class="panel">
        {{#loading}}
            {{>loading-view}}
        {{/loading}}
        {{>error}}
        {{#data}}
            {{>search-artists-list}}
            {{#unless total}}
                <p>No artists found.</p>
            {{/unless}}
        {{/data}}
    </div>
    {{#data}}
        {{>search-pagination}}
    {{/data}}
</script>

<script type="text/template"
        data-route="^search\/songs(\?.*)?"
        data-process="processSearchTracksPage"
        data-template="search-tracks-page"
        >
    <div class="container">
        <h1>Songs</h1>
        {{#data}}
            <div data-source="$endpoint/catalog/browse?{{query}}"
                 data-process="processSearchTrackResults">
            </div>
        {{/data}}
    </div>
</script>

<script type="text/template"
        data-template="search-tracks"
        data-process="processSearchTrackResults"
        >
    <div class="panel panel--mobile">
        {{#loading}}
            {{>loading-view}}
        {{/loading}}
        {{> error}}
        {{#data}}
            {{>search-tracks-table}}
            {{#unless total}}
                <p>No songs found.</p>
            {{/unless}}
        {{/data}}
    </div>
    {{#data}}
        {{>search-pagination}}
    {{/data}}
</script>

<script type="text/template"
        data-route="^search\/releases(\?.*)?"
        data-template="search-releases-page"
        data-process="processSearchReleasesPage"
        >
    <div class="container">
        <h1>Releases</h1>
        {{#data}}
            <div data-source="$endpoint/catalog/release?{{query}}"
                 data-process="processSearchReleaseResults">
            </div>
        {{/data}}
    </div>
</script>

<script type="text/template"
        data-template="search-releases"
        data-process="processSearchReleaseResults"
        >
        <div class="panel">
            {{#loading}}
                {{>loading-view}}
            {{/loading}}
            {{> error}}
            {{#data}}
                {{>search-releases-list}}
                {{^total}}
                    <p>No releases found.</p>
                {{/total}}
            {{/data}}
        </div>
        {{#data}}
            {{#if total}}
                {{>search-pagination}}
            {{/if}}
        {{/data}}
    </div>
</script>

<script type="text/template"
        data-route="^search(\?.*)?"
        data-title="Search All"
        data-template="search-page"
        data-process="processSearchAllPage"
        completed="completedSearchAll"
        transform="transformSearch"
        >
    <div class="container search">
        <h1>Search</h1>
        {{#data}}
        {{#searches}}
        <div class="panel panel--mobile">
            <h2>Songs</h2>
            <div data-source="$endpoint/catalog/browse?{{tracks.query}}"
                 data-process="processSearchSnippetTracks"
                 >
            </div>
        </div>
        <div class="panel">
            <h2>Releases</h2>
            <div data-source="$endpoint/catalog/release?{{releases.query}}"
                 data-process="processSearchSnippetReleases">
            </div>
        </div>
        <div class="panel">
            <h2>Artists</h2>
            <div data-source="$endpoint/catalog/artist?{{artists.query}}"
                 data-process="processSearchSnippetArtists">
            </div>
        </div>
        {{/searches}}
        {{^searches}}
        <div class="panel">
            <p>Please enter a search term at the top of the page.</p>
        </div>
        {{/searches}}
        {{/data}}
    </div>
</script>

<script type="text/template"
        data-template="search-snippet-releases"
        data-process="processSearchSnippetReleases">
    {{#data}}
        {{>search-releases-list}}
        {{#unless total}}
            <p>No releases found.</p>
        {{/unless}}
        {{#more}}
            <a href="/search/releases?{{../query}}">{{message}}</a>
        {{/more}}
    {{/data}}
</script>

<script type="text/template"
        data-template="search-snippet-artists"
        data-process="processSearchSnippetArtists"
        >
    {{#loading}}
        {{>loading-view}}
    {{/loading}}
    {{#data}}
        {{>search-artists-list}}
        {{#unless total}}
            <p>No artists were found.</p>
        {{/unless}}
        {{#more}}
            <br/>
            <a href="/search/artists?{{../query}}">{{message}}</a>
        {{/more}}
    {{/data}}
</script>

<script type="text/template"
        data-template="search-snippet-tracks"
        data-process="processSearchSnippetTracks">
    {{#data}}
        {{>search-tracks-table}}
        {{#unless total}}
            <p>No songs found.</p>
        {{/unless}}
        {{#more}}
        <br/>
        <a href="/search/songs?{{../query}}">{{message}}</a>
        {{/more}}
    {{/data}}
</script>

<script type="text/template"
        data-partial
        data-template="search-tracks-table">
    {{#if results.length}}
    <table>
        <thead>
            <tr>
                <th class="shrink"></th>
                <th>Title</th>
                <th>Artists</th>
                <th class="col-xs-hidden col-md-visible">Genre</th>
                <th class="col-xs-hidden col-md-visible">Time</th>
                <th class="col-xs-hidden col-md-visible">BPM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
                <tr dblc-action="playSongDblC">
                    <td class="shrink">
                      {{>play-song}}
                    </td>
                    {{>track-cells}}
                    <td class="push-right">
                        {{>track-buttons}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</script>

<script type="text/template"
        data-partial
        data-template="search-releases-list">
    <ul class="art-list art-list--full-width">
        {{#each results}}
        <li class="{{#inEarlyAccess}}in-early-access{{/inEarlyAccess}}">
            <a class="silent" href="/release/{{catalogId}}" title="{{title}} / {{artists}}">
                <div class="image-wrapper">
                    <img src="/img/artwork.jpg" class="preload" />
                    <img src="{{cover}}"/>
                </div>
                <label class="title one-line-ellipsis">{{title}}</label>
                <br/>
                <label class="artist one-line-ellipsis">{{artists}}</label>
            </a>
        </li>
        {{/each}}
    </ul>
</script>


<script type="text/template"
        data-partial
        data-template="search-artists-list"
        >
    <ul class="art-list art-list--full-width">
        {{#each results}}
        <li>
            <a class="silent" href="/artist/{{vanityUri}}" title="{{name}}">
                {{#if imageSmall}}
                    <div class="image-wrapper">
                        <img src="/img/artist.jpg" class="preload" />
                        <img src="{{imageSmall}}"/>
                    </div>
                {{else}}
                    <div class="no-art">
                        <label>No image.</label>
                    </div>
                {{/if}}
                <label class="title one-line-ellipsis">{{name}}</label>
            </a>
        </li>
        {{/each}}
    </ul>
</script>

<script type="text/template"
        data-partial
        data-template="search-pagination"
        >
    {{#if total}}
    <div class="container pagination pad-vertical text center">
        {{#if previous}}
        <a href="?{{previous}}">Previous</a>
        {{/if}}
        <label>{{showingFrom}} - {{showingTo}} of {{total}}</label>
        {{#if next}}
        <a href="?{{next}}">Next</a>
        {{/if}}
    </div>
    {{/if}}
</script>

<!-- END SEARCH -->
