<script type="text/template"
        data-route="^account\/services\/?(\?.*)?$"
        data-template="account-services-page"
        data-process="processServicesPage"
        data-title="Account Services"
        >
    {{#data}}
    <div class="container services">
        {{>account-return-link}}
        <h1>Manage Services</h1>
        {{#if hasLegacy}}
        <div class="panel">
            <p>
                You have a legacy account. Please access your subscription from
                <a target="_blank" href="http://connect.monstercat.com">Monstercat Connect</a>.
            </p>
        </div>
        {{else}}
        <div class="flex">
            {{#user}}
            <div class="col-xs-12 col-lg-4 col-lg-last panel panel--dark">
                {{#gold}}
                    <h1>Gold Membership</h1>
                    <h2 class="pricing pricing--gold">
                        {{#if humble}}
                            <span style="text-decoration: line-through; color: inherit; font-weight: normal;">$5/month</span> <i class="fa fa-arrow-right"></i> $0
                        {{else}}
                            $5/month
                        {{/if}}</h2>
                    <p>Monstercat Gold Membership allows you to download any of the music in FLAC, MP3, and WAV formats.</p>
                    {{#if permanent}}
                        <p>You have a free Gold Membership.</p>
                    {{/if}}
                    {{#if subscribed}}
                        {{>gold-subscription}}
                    {{/if}}
                    {{#unless has}}
                    <br/>
                    <ul>
                        <li>Unlimited download and streaming access to the Monstercat catalog (800+ full songs)</li>
                        <li>Direct support via e-mail and on site.</li>
                    </ul>
                    <div class="services-form">
                        <form onsubmit="submitSubscribeGold(event, this)">
                            <input type="text" name="trialCode" placeholder="{{#humble}}Humble Bundle Code{{/humble}}{{^humble}}Special Code (optional){{/humble}}" />
                            <button class="button--gold">
                                Subscribe
                                <span class="working-spinner"><i class="fa fa-spin fa-cog"></i></span>
                            </button>
                        </form>
                    </div>
                    {{/unless}}
                {{/gold}}
            </div>
            {{/user}}
            <div class="col-xs-12 col-lg-8 panel">
                <h1>Licensing Services</h1>
                <p>Buy a whitelisting service for use in online media for YouTube, Twitch, or Mixer.
                   Upon subscribing for 20 months, all your previously uploaded videos within
                   your subscribed time period are safe from content ID claims even if you unsubscribe.</p>
                <br/>
                <p>To prepay for 20 months go <a href="/account/services/buyout">here</a>.</p>
                {{#if user.isSignedIn}}
                <br/>
                <table>
                    <thead>
                        <tr>
                            <th>Platform</th>
                            <th>Channel Id</th>
                            <th>Paid Off</th>
                            <th>Remaining</th>
                            <th>Monthly Cost</th>
                            <th>Next Date</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody data-source="$endpoint/self/whitelist"
                           data-process="processWhitelists"
                           role="whitelists"
                           >
                    </tbody>
                </table>
                {{/if}}
                <div class="services-form">
                    <form onsubmit="submitSubscribeNewLicense(event, this)" role="subscribe-new-license">
                        {{>vendor-selector}}
                        <input type="text" name="identity" placeholder="Channel_ID" size="30" />
                        <button>
                            Subscribe
                            <span class="working-spinner"><i class="fa fa-spin fa-cog"></i></span>
                        </button>
                        <span class="or">or</span>
                        <button
                            type="button"
                            onclick="clickBuyoutNewLicense(event, this)">
                            Prepay for 20 Months
                            <span class="working-spinner"><i class="fa fa-spin fa-cog"></i></span>
                        </button>
                        {{>channel-id-help-text}}
                    </form>
                </div>
                {{#if user.isSignedIn}}
                    <br/>
                    <p>Have a YouTube dispute? Release claims <a href="/release-claim">here</a>.</p>
                {{/if}}
            </div>
        </div>

        <div id="new-subscriptions" class="hide panel">
            <h1>Checkout</h1>
            <br/>
            <table>
                <thead>
                    <tr>
                        <th>Subscription</th>
                        <th>Monthly Cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody role="new-subs">
                </tbody>
            </table>
            <div><span class="total-cost">$<span role="total-cost">0.00</span></span>/month</div>
            <br/>
            <form onsubmit="checkoutSubscriptions(event, this)">
                {{#if showSignUp}}
                    <div id="sign-on">
                        <div role="sign-on-errors"></div>
                        <div role="sign-on-fields" class="sign-on-fields">
                            {{>services-sign-up}}
                        </div>
                    </div>
                <br />
                {{/if}}
                <div>
                   {{>payment-method-recurring}}
                   <button class="button--cta">
                        Complete Purchase
                    </button>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
    {{/data}}
</script>

<script type="text/template"
        data-partial
        data-template="services-sign-up"
        data-template="services-sign-up"
        >
<input type="hidden" name="signOnMethod" value="sign-up" />
<h3>Register</h3>
<table class="form mobile sign-on"
    {{>signup-fields}}
</table>
<p>
Already have an account? <a class="switch-sign-on" onclick="servicesChangeSignOnMethod(event, 'sign-in')">Sign in</a>.
<br />Create an account with <a onclick="checkoutSubscriptions(event, this)" data-social="facebook">Facebook</a> or <a onclick="checkoutSubscriptions(event, this)" data-social="google">Google</a>.</p>.
</p>
</script>

<script type="text/template"
        data-partial data-template="services-sign-in"
        data-template="services-sign-in"
        >
<input type="hidden" name="signOnMethod" value="sign-in" />
<h3>Login</h3>
<table class="form mobile sign-on"
    {{>sign-in-fields}}
</table>
<!--
<button class="button--social button--half button--fb" onclick="signInFacebook(event, this)"><i class="fa fa-social-f"></i> Sign In</button>
<button class="button--social button--half button--g" onclick="signInGoogle(event, this)"><i class="fa fa-social-g"></i> Sign In</button>
-->
<p>New here? <a class="switch-sign-on" onclick="servicesChangeSignOnMethod(event, 'sign-up')">Create an account</a>.
<br />Log in with <a onclick="checkoutSubscriptions(event, this)" data-social="facebook">Facebook</a> or <a onclick="checkoutSubscriptions(event, this)" data-social="google">Google</a>.</p>
</script>

<script type="text/template"
        data-template="gold-subscription"
        data-partial data-template="gold-subscription"
        transform="transformGoldSubscription">
    {{#unless canceled}}
        <label>Gold Subscription Active</label>
        <p>You are subscribed for $5.00 USD a month</p>
        <p>Your next invoice will be charged on {{nextBillingDate}}</p>
        <br>
        <button class="button--gold" onclick="clickUnsubscribeGold(event)">Cancel Subscription</button>
    {{else}}
        <label>You have Gold Membership.</label>
        <p>Your Gold Membership will expire on {{endDate}}</p>
        <div class="services-form">
            <form onsubmit="submitSubscribeGold(event, this)">
                <input type="text" name="trialCode" placeholder="Special Code"/>
                <button class="button--gold">Re-Subscribe</button>
            </form>
        </div>
    {{/unless}}
</script>

<script type="text/template" data-partial data-template="payment-method">
    <label>
        <input type="radio" name="method" value="paypal">
        <span><i class="fa fa-fw fa-cc-paypal"></i></span>
    </label>
    <label>
        <input type="radio" name="method" value="stripe" checked>
        <span><i class="fa fa-fw fa-cc-stripe"></i></span>
    </label>
</script>

<script type="text/template" data-partial data-template="payment-method-recurring">
<div class="recurring-warning-germany hide"><strong>Warning:</strong> PayPal cannot process recurring payments for German users. Please use Stripe.</div>
{{>payment-method}}
</script>

<script type="text/template" data-partial data-template="channel-id-help-text">
<div class="vendor-help none">
    <div class="help-text YouTube">http:s//www.youtube.com/channel/<strong>Channel_ID</strong></div>
    <div class="help-text Twitch">https://www.twitch.tv/<strong>Channel_ID</strong></div>
    <div class="help-text Beam">https://mixer.com/<strong>Channel_ID</strong></div>
    <div class="help-text none">&nbsp;</div>
</div>
</script>

<script type="text/template" data-template="subscription-row">
    <tr>
        <td>
            {{name}}
        </td>
        <td>
            {{#fields}}
            <input type="hidden" name="{{key}}" value="{{value}}">
            {{/fields}}
            ${{cost}}
        </td>
        <td>
            <button class="faux" onclick="removeSub(event, this)">
                <i class="fa fa-trash-o"></i>
            </button>
        </td>
    </tr>
</script>

<script type="text/template"
        data-template="licenses-rows"
        data-process="processWhitelists">
    {{#loading}}
    <tr><td colspan="8"><i class="fa fa-refresh fa-spin"></i></td></tr>
    {{/loading}}
    {{#error}}
    <tr><td colspan="8"><p>{{message}}</p></td></tr>
    {{/error}}
    {{#data}}
    {{#results}}
    <tr s-data-set class="{{#blacklisted}}blacklisted{{/blacklisted}}">
        {{#blacklisted}}
            <td class="vendor">{{vendorName}}</td>
            <td class="identity">{{identity}}</td>
            <td colspan="5" class="msg">
                <span class="fa fa-warning"></span> This channel is not eligible for a whitelist license. <a href="/licensing/content-creators#i-own-a-music-promotional-channel-can-i-purchase-a-whitelist-subscription-to-monetize-monstercat-s-music-on-my-channel-">Please see our FAQ</a>.
            </td>
        {{/blacklisted}}
        {{^blacklisted}}
            <td>
                {{vendorName}}
            </td>
            <td>
                <input type="hidden" name="identity" value="{{identity}}"/>
                {{identity}}
            </td>
            <td>{{paid}}</td>
            <td>${{remaining}}</td>
            <td>
                {{#if cost}}
                    ${{cost}}
                {{else}}
                    N/A
                {{/if}}
            </td>
            <td>
                {{#if subscriptionActive}}
                    {{#if nextBillingDate}}
                        Next Payment: {{nextBillingDate}}
                    {{/if}}
                {{else}}
                    {{#if nextBillingDate}}
                        Expires: {{nextBillingDate}}
                    {{/if}}
                {{/if}}
            </td>
            <td>
                <form onsubmit="resumeLicenseSubscription(event, this)">
                    {{#resume}}
                    <input type="hidden" name="id" value="{{_id}}"/>
                    <input type="hidden" name="amount" value="{{amount}}"/>
                    {{/resume}}
                    <input type="hidden" name="identity" value="{{identity}}"/>
                    <input type="hidden" name="vendor" value="{{vendor}}"/>
                    {{#if licenseUrl}}
                    <a href="{{licenseUrl}}"
                       title="Open license document."
                       target="_blank">View License</a>
                    {{/if}}
                    {{#unless canBuyOut}}
                    <a href="/account/services/buyout/{{_id}}">Prepay 20 Months</a>
                    {{/unless}}
                    {{#cancel}}
                    <button class="faux"
                            type="button"
                            onclick="cancelLicenseSubscription(event, this)"
                            data-whitelist-id="{{_id}}">
                        Cancel Subscription
                    </button>
                    {{/cancel}}
                    {{#resume}}
                    <button class="faux">
                        Resume Subscription
                    </button>
                    {{/resume}}
                </form>
            </td>
        {{/blacklisted}}
    </tr>
    {{/results}}
    {{^results}}
    <tr><td colspan="8">You have no licenses.</td></tr>
    {{/results}}
    {{/data}}
</script>

<script type="text/template"
        data-route="^account\/services\/processing"
        data-process="processServicesProcessingPage"
        data-template="services-processing-page"
        >
    <div class="container">
        <h1>Payment Processing <i class="fa fa-spin fa-gear"></i></h1>
        <p>Your payment is being processed. Please wait.</p>
    </div>
</script>

<script type="text/template"
        data-route="^account\/services\/subscribed"
        data-process="processServicesRedirectPage"
        >
    <div class="container">
        <h1>Subscribed!</h1>
        <p>You have been successfully subscribed! You will be redirected to your services in 5 seconds.</p>
    </div>
</script>

<script type="text/template"
        data-route="^account\/services\/unsubscribed\/?"
        data-process="processServicesRedirectPage">
    <div class="container">
        <h1>Unsubscribed</h1>
        <p>You have been successfully unsubscribed. You will be redirected to your services in 5 seconds.</p>
    </div>
</script>

<script type="text/template"
        data-process="processCanceledPayment"
        data-route="^account\/services\/canceled-payment\/?$">
    <div class="container">
        <h1>Payment Canceled</h1>
        <p>The payment has been canceled. Go back to <a href="{{returnUrl}}">{{returnLabel}}</a>.</p>
    </div>
</script>

<script type="text/template"
        data-route="^account\/services\/buyout\/purchased\/?"
        data-title="Purchased Whitelist"
        completed="redirectServices">
    <div class="container">
        <h1>Purchased Whitelist!</h1>
        <p>Whitelist succesfully purchased. You will be redirected to the services page in 5 seconds.</p>
    </div>
</script>

<script type="text/template"
        data-route="account\/services\/error"
        data-title="Payment Error">
    <div class="container">
        <h1>An error occured.</h1>
        <p>An error occured while working with the payment information provided. Please contact support.</p>
    </div>
</script>

<script type="text/template" data-template="resume-whitelist">
    <div class="modal panel">
        <div class="pointer-events">
            <form onsubmit="resumeLicenseConfirm(event, this)">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="vendor" value="{{vendor}}">
                <input type="hidden" name="identity" value="{{identity}}">
                {{#if amount}}
                <input type="hidden" name="amount" value="{{amount}}">
                {{/if}}
                <table class="form">
                    <tr>
                        <th>Platform</th>
                        <td>{{vendor}}</td>
                    </tr>
                    <tr>
                        <th>Channel Id</th>
                        <td>{{identity}}</td>
                    </tr>
                </table>
                {{>payment-method-recurring}}
                <button>Resume Payments</button>
                <button onclick="closeModal(event, this)" type="button">Cancel</button>
            </form>
        </div>
    </div>
</script>

<script type="text/template"
        data-route="^account\/services\/buyout\/?(\?.*)?$"
        data-process="processBuyWhitelistPage"
        data-title="Purchase Whitelist"
        data-template="buy-whitelist-page"
        >
    <div class="container">
        {{#data}}
            <h1>Purchase Whitelist</h1>
            <div class="services panel">
                <p>Pre-pay your whitelist license for 20 months. All videos created with the
                    cleared Monstercat catalog during this time period will never
                    receive content-ID claims.</p>
                <form onsubmit="submitBuyLicense(event, this)" role="buy-new-licence">
                    <input type="hidden" name="amount" value="20000">
                    <table class="form mobile">
                        <tbody>
                            <tr>
                                <th>Platform</th>
                                <td>
                                    {{>vendor-selector}}
                                </td>
                            </tr>
                            <tr>
                                <th valign="top">Channel ID</th>
                                <td>
                                    <input type="text"
                                           name="identity"
                                           value="{{identity}}"
                                           placeholder="Put here."/>
                                    {{>channel-id-help-text}}
                                </td>
                            </tr>
                            <tr>
                                <th>Total Cost</th>
                                <td role="buyout-price">$200.00</td>
                            </tr>
                        </tbody>
                    </table>
                    {{>payment-method}}
                    <div class="button-group">
                        <button class="button--full">Purchase Whitelisting</button>
                    </div>
                </form>
            </div>

        {{/data}}
    </div>
</script>

<script type="text/template"
        data-route="^account\/services\/buyout\/(.+)$"
        data-process="processServicesBuyoutPage"
        data-source="$endpoint/self/whitelist/$1"
        data-title="Whitelist Prepay"
        data-template="services-buyout-page"
        >
    <div class="container">
        <h1>Prepay for 20 Months of Whitelist</h1>
        <div class="panel">
            <p>Pre-pay the rest of your whitelist license. All videos created with the
                cleared Monstercat catalog during this time period will never receive content-ID claims.</p>
            {{#data}}
            <form onsubmit="submitBuyLicense(event, this)" role="buy-new-licence">
                <input type="hidden" name="amount" value="{{amountRemaining}}"/>
                <input type="hidden" name="id" value="{{_id}}"/>
                <input type="hidden" name="vendor" value="{{vendor}}"/>
                <input type="hidden" name="identity" value="{{identity}}"/>
                <table class="form mobile">
                    <tbody>
                        <tr>
                            <th>Vendor</th>
                            <td>
                                <input type="text"
                                       value="{{vendor}}"
                                       disabled />
                            </td>
                        </tr>
                        <tr>
                            <th>Identity</th>
                            <td>
                                <input type="text"
                                       value="{{identity}}"
                                       disabled />
                            </td>
                        </tr>
                        <tr>
                            <th>Total Cost</th>
                            <td>
                                ${{cost}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{>payment-method}}
                <div class="button-group">
                    {{>submit-button text="Buy License" class="button--full"}}
                </div>
            </div>
            {{/data}}
        </div>
    </div>
</script>

