#account-gold h1 {
  color: #f1d383;
}

#account-gold input.code {
  font-size: 1.4em;
}

#account-gold input.code+button.copy-clipboard-button{
  vertical-align: top;
  font-size: 1.15em;
  padding: 0.5em;
}

.code-description .button--shop{
	vertical-align: top;
	padding: 0.7rem;
}

.top-banner--account-gold {
  min-height: 300px;
}
